ObtieneResponseWS/ObtieneResponseWS/src/main/java/cl/tchile/vo/ListaPSFrontEnd1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.AWPSL2WS.AWPSL2WI.com" xmlns:reqns="http://www.AWPSL2WS.AWPSL2WI.Request.com" xmlns:resns="http://www.AWPSL2WS.AWPSL2WI.Response.com" xmlns:tns="http://www.AWPSL2WS.AWPSL2WI.com" xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:dpx="http://www.DPWPROXY.DPWPROXI.Response.com" xmlns:dp="http://www.datapower.com/extensions" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config">
	<wsdl:types>
		<xsd:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://www.AWPSL2WS.AWPSL2WI.Request.com" xmlns:tns="http://www.AWPSL2WS.AWPSL2WI.Request.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:complexType abstract="false" block="#all" final="#all" mixed="false" name="ProgramInterface">
				<xsd:sequence>
					<xsd:element nillable="false" name="awpsl2wi" minOccurs="0" maxOccurs="1">
						<xsd:complexType mixed="false">
							<xsd:sequence>
								<xsd:element nillable="false" name="awpsl2wi_area">
									<xsd:simpleType>
										<xsd:restriction base="xsd:string">
											<xsd:maxLength value="3"/>
											<xsd:whiteSpace value="preserve"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:element>
								<xsd:element nillable="false" name="awpsl2wi_num_com">
									<xsd:simpleType>
										<xsd:restriction base="xsd:string">
											<xsd:maxLength value="8"/>
											<xsd:whiteSpace value="preserve"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:element>
								<xsd:element nillable="false" name="awpsl2wi_cod_ps">
									<xsd:simpleType>
										<xsd:restriction base="xsd:unsignedInt">
											<xsd:maxInclusive value="999999999"/>
											<xsd:minInclusive value="0"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:element>
								<xsd:element nillable="false" name="awpsl2wi_fec_ini_li">
									<xsd:simpleType>
										<xsd:restriction base="xsd:string">
											<xsd:maxLength value="10"/>
											<xsd:whiteSpace value="preserve"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:element>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element nillable="false" type="tns:ProgramInterface" name="AWPSL2WSOperation"/>
		</xsd:schema>
		<xsd:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://www.AWPSL2WS.AWPSL2WI.Response.com" xmlns:tns="http://www.AWPSL2WS.AWPSL2WI.Response.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:complexType abstract="false" block="#all" final="#all" mixed="false" name="ProgramInterface">
				<xsd:sequence>
					<xsd:element nillable="false" name="awpsl2wo" minOccurs="0" maxOccurs="1">
						<xsd:complexType mixed="false">
							<xsd:sequence>
								<xsd:element nillable="false" name="awpsl2wo_salida" minOccurs="0" maxOccurs="1">
									<xsd:complexType mixed="false">
										<xsd:sequence>
											<xsd:element nillable="true" name="awpsl2wo_cod_ret">
												<xsd:simpleType>
													<xsd:restriction base="xsd:string">
														<xsd:maxLength value="3"/>
														<xsd:whiteSpace value="preserve"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element nillable="true" name="awpsl2wo_desc_ret">
												<xsd:simpleType>
													<xsd:restriction base="xsd:string">
														<xsd:maxLength value="30"/>
														<xsd:whiteSpace value="preserve"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element nillable="true" name="awpsl2wo_cod_db">
												<xsd:simpleType>
													<xsd:restriction base="xsd:string">
														<xsd:maxLength value="4"/>
														<xsd:whiteSpace value="preserve"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element nillable="true" name="awpsl2wo_parrafo">
												<xsd:simpleType>
													<xsd:restriction base="xsd:string">
														<xsd:maxLength value="30"/>
														<xsd:whiteSpace value="preserve"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element nillable="true" name="awpsl2wo_servicio">
												<xsd:simpleType>
													<xsd:restriction base="xsd:string">
														<xsd:maxLength value="8"/>
														<xsd:whiteSpace value="preserve"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element nillable="true" name="awpsl2wo_finpag">
												<xsd:simpleType>
													<xsd:restriction base="xsd:string">
														<xsd:maxLength value="1"/>
														<xsd:whiteSpace value="preserve"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element nillable="true" name="awpsl2wo_numreg">
												<xsd:simpleType>
													<xsd:restriction base="xsd:unsignedInt">
														<xsd:maxInclusive value="99"/>
														<xsd:minInclusive value="0"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
										</xsd:sequence>
									</xsd:complexType>
								</xsd:element>
								<xsd:element nillable="false" name="awpsl2wo_lista_ps" minOccurs="0" maxOccurs="20">
									<xsd:complexType mixed="false">
										<xsd:sequence>
											<xsd:element nillable="true" name="awpsl2wo_cod_ps">
												<xsd:simpleType>
													<xsd:restriction base="xsd:string">
														<xsd:maxLength value="9"/>
														<xsd:whiteSpace value="preserve"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element nillable="true" name="awpsl2wo_desc_ps">
												<xsd:simpleType>
													<xsd:restriction base="xsd:string">
														<xsd:maxLength value="30"/>
														<xsd:whiteSpace value="preserve"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element nillable="true" name="awpsl2wo_tip_ps">
												<xsd:simpleType>
													<xsd:restriction base="xsd:string">
														<xsd:maxLength value="1"/>
														<xsd:whiteSpace value="preserve"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element nillable="true" name="awpsl2wo_fec_alta_ps">
												<xsd:simpleType>
													<xsd:restriction base="xsd:string">
														<xsd:maxLength value="10"/>
														<xsd:whiteSpace value="preserve"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element nillable="true" name="awpsl2wo_cod_op">
												<xsd:simpleType>
													<xsd:restriction base="xsd:string">
														<xsd:maxLength value="9"/>
														<xsd:whiteSpace value="preserve"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element nillable="true" name="awpsl2wo_desc_op">
												<xsd:simpleType>
													<xsd:restriction base="xsd:string">
														<xsd:maxLength value="30"/>
														<xsd:whiteSpace value="preserve"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element nillable="true" name="awpsl2wo_cod_paq">
												<xsd:simpleType>
													<xsd:restriction base="xsd:string">
														<xsd:maxLength value="9"/>
														<xsd:whiteSpace value="preserve"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element nillable="true" name="awpsl2wo_nombre_paq">
												<xsd:simpleType>
													<xsd:restriction base="xsd:string">
														<xsd:maxLength value="8"/>
														<xsd:whiteSpace value="preserve"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element nillable="true" name="awpsl2wo_cod_fam">
												<xsd:simpleType>
													<xsd:restriction base="xsd:string">
														<xsd:maxLength value="5"/>
														<xsd:whiteSpace value="preserve"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element nillable="true" name="awpsl2wo_cod_sg1">
												<xsd:simpleType>
													<xsd:restriction base="xsd:string">
														<xsd:maxLength value="5"/>
														<xsd:whiteSpace value="preserve"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element nillable="true" name="awpsl2wo_cod_sg2">
												<xsd:simpleType>
													<xsd:restriction base="xsd:string">
														<xsd:maxLength value="5"/>
														<xsd:whiteSpace value="preserve"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element nillable="true" name="awpsl2wo_marca_ps">
												<xsd:simpleType>
													<xsd:restriction base="xsd:string">
														<xsd:maxLength value="1"/>
														<xsd:whiteSpace value="preserve"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element nillable="true" name="awpsl2wo_cod_isp">
												<xsd:simpleType>
													<xsd:restriction base="xsd:string">
														<xsd:maxLength value="2"/>
														<xsd:whiteSpace value="preserve"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element nillable="true" name="awpsl2wo_des_subg1">
												<xsd:simpleType>
													<xsd:restriction base="xsd:string">
														<xsd:maxLength value="35"/>
														<xsd:whiteSpace value="preserve"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element nillable="true" name="awpsl2wo_des_subg2">
												<xsd:simpleType>
													<xsd:restriction base="xsd:string">
														<xsd:maxLength value="35"/>
														<xsd:whiteSpace value="preserve"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element nillable="true" name="awpsl2wo_est_ps">
												<xsd:simpleType>
													<xsd:restriction base="xsd:string">
														<xsd:maxLength value="20"/>
														<xsd:whiteSpace value="preserve"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element nillable="true" name="awpsl2wo_cant_ps">
												<xsd:simpleType>
													<xsd:restriction base="xsd:unsignedInt">
														<xsd:maxInclusive value="999999999"/>
														<xsd:minInclusive value="0"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
										</xsd:sequence>
									</xsd:complexType>
								</xsd:element>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element nillable="false" type="tns:ProgramInterface" name="AWPSL2WSOperationResponse"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="AWPSL2WSOperationRequest">
		<wsdl:part name="RequestPart" element="reqns:AWPSL2WSOperation"/>
	</wsdl:message>
	<wsdl:message name="AWPSL2WSOperationResponse">
		<wsdl:part name="ResponsePart" element="resns:AWPSL2WSOperationResponse"/>
	</wsdl:message>
	<wsdl:portType name="AWPSL2WSPort">
		<wsdl:operation name="AWPSL2WSOperation">
			<wsdl:input message="tns:AWPSL2WSOperationRequest" name="AWPSL2WSOperationRequest"/>
			<wsdl:output message="tns:AWPSL2WSOperationResponse" name="AWPSL2WSOperationResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="AWPSL2WSHTTPSoapBinding" type="tns:AWPSL2WSPort">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="AWPSL2WSOperation">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="AWPSL2WSOperationRequest">
				<soap:body parts="RequestPart" use="literal"/>
			</wsdl:input>
			<wsdl:output name="AWPSL2WSOperationResponse">
				<soap:body parts="ResponsePart" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="AWPSL2WSService">
		<wsdl:port binding="tns:AWPSL2WSHTTPSoapBinding" name="AWPSL2WSPort">
			<soap:address location="http://esb.ctc.cl/services/ListaPSFrontEnd"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
