ObtieneResponseWS/ObtieneResponseWS/src/main/java/cl/tchile/wsdl/consultaPSporLinea.wsdl

<?xml version="1.0" ?>
<!--This document was generated using 'DFHLS2WS' at mapping level '1.1'. -->
<definitions targetNamespace="http://www.AWPS01WS.AWPS01WI.com" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:reqns="http://www.AWPS01WS.AWPS01WI.Request.com" xmlns:resns="http://www.AWPS01WS.AWPS01WI.Response.com" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.AWPS01WS.AWPS01WI.com">
   <types>
      <xsd:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://www.AWPS01WS.AWPS01WI.Request.com" xmlns:tns="http://www.AWPS01WS.AWPS01WI.Request.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
         <xsd:annotation>
            <xsd:documentation source="http://www.ibm.com/software/htp/cics/annotations">This schema was generated by the CICS Web services assistant.</xsd:documentation>
         </xsd:annotation>
         <xsd:annotation>
            <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Tue Oct 06 19:50:48 UTC 2009
com.ibm.cics.wsdl.properties.mappingLevel=1.1
</xsd:appinfo>
         </xsd:annotation>
         <xsd:complexType abstract="false" block="#all" final="#all" mixed="false" name="ProgramInterface">
            <xsd:sequence>
               <xsd:element name="awps01co_entrada" nillable="false">
                  <xsd:complexType mixed="false">
                     <xsd:sequence>
                        <xsd:element name="awps01co_i_area" nillable="false">
                           <xsd:simpleType>
                              <xsd:annotation>
                                 <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Tue Oct 06 19:50:48 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                              </xsd:annotation>
                              <xsd:restriction base="xsd:string">
                                 <xsd:maxLength value="3"/>
                                 <xsd:whiteSpace value="preserve"/>
                              </xsd:restriction>
                           </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="awps01co_i_num_com" nillable="false">
                           <xsd:simpleType>
                              <xsd:annotation>
                                 <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Tue Oct 06 19:50:48 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                              </xsd:annotation>
                              <xsd:restriction base="xsd:string">
                                 <xsd:maxLength value="8"/>
                                 <xsd:whiteSpace value="preserve"/>
                              </xsd:restriction>
                           </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="awps01co_i_cod_ps" nillable="false">
                           <xsd:simpleType>
                              <xsd:annotation>
                                 <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Tue Oct 06 19:50:50 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                              </xsd:annotation>
                              <xsd:restriction base="xsd:unsignedInt">
                                 <xsd:maxInclusive value="999999999"/>
                                 <xsd:minInclusive value="0"/>
                              </xsd:restriction>
                           </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="awps01co_i_fec_ini_li" nillable="false">
                           <xsd:simpleType>
                              <xsd:annotation>
                                 <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Tue Oct 06 19:50:50 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                              </xsd:annotation>
                              <xsd:restriction base="xsd:string">
                                 <xsd:maxLength value="10"/>
                                 <xsd:whiteSpace value="preserve"/>
                              </xsd:restriction>
                           </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="filler1" nillable="false">
                           <xsd:simpleType>
                              <xsd:annotation>
                                 <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Tue Oct 06 19:50:50 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                              </xsd:annotation>
                              <xsd:restriction base="xsd:string">
                                 <xsd:maxLength value="28327"/>
                                 <xsd:whiteSpace value="preserve"/>
                              </xsd:restriction>
                           </xsd:simpleType>
                        </xsd:element>
                     </xsd:sequence>
                  </xsd:complexType>
               </xsd:element>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:element name="AWPS01WSOperation" nillable="false" type="tns:ProgramInterface"/>
      </xsd:schema>
      <xsd:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://www.AWPS01WS.AWPS01WI.Response.com" xmlns:tns="http://www.AWPS01WS.AWPS01WI.Response.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
         <xsd:annotation>
            <xsd:documentation source="http://www.ibm.com/software/htp/cics/annotations">This schema was generated by the CICS Web services assistant.</xsd:documentation>
         </xsd:annotation>
         <xsd:annotation>
            <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Tue Oct 06 19:51:01 UTC 2009
com.ibm.cics.wsdl.properties.mappingLevel=1.1
</xsd:appinfo>
         </xsd:annotation>
         <xsd:complexType abstract="false" block="#all" final="#all" mixed="false" name="ProgramInterface">
            <xsd:sequence>
               <xsd:element name="awps01co_salida" nillable="false">
                  <xsd:complexType mixed="false">
                     <xsd:sequence>
                        <xsd:element name="awps01co_o_cod_ret" nillable="false">
                           <xsd:simpleType>
                              <xsd:annotation>
                                 <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Tue Oct 06 19:51:02 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                              </xsd:annotation>
                              <xsd:restriction base="xsd:string">
                                 <xsd:maxLength value="3"/>
                                 <xsd:whiteSpace value="preserve"/>
                              </xsd:restriction>
                           </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="awps01co_o_desc_cod_ret" nillable="false">
                           <xsd:simpleType>
                              <xsd:annotation>
                                 <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Tue Oct 06 19:51:02 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                              </xsd:annotation>
                              <xsd:restriction base="xsd:string">
                                 <xsd:maxLength value="30"/>
                                 <xsd:whiteSpace value="preserve"/>
                              </xsd:restriction>
                           </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="awps01co_o_finpaginacion" nillable="false">
                           <xsd:simpleType>
                              <xsd:annotation>
                                 <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Tue Oct 06 19:51:02 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                              </xsd:annotation>
                              <xsd:restriction base="xsd:string">
                                 <xsd:maxLength value="1"/>
                                 <xsd:whiteSpace value="preserve"/>
                              </xsd:restriction>
                           </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="awps01co_o_numregistros" nillable="false">
                           <xsd:simpleType>
                              <xsd:annotation>
                                 <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Tue Oct 06 19:51:02 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                              </xsd:annotation>
                              <xsd:restriction base="xsd:string">
                                 <xsd:maxLength value="2"/>
                                 <xsd:whiteSpace value="preserve"/>
                              </xsd:restriction>
                           </xsd:simpleType>
                        </xsd:element>
                        <xsd:element maxOccurs="20" minOccurs="20" name="awps01co_o_pi_cliente" nillable="false">
                           <xsd:complexType mixed="false">
                              <xsd:sequence>
                                 <xsd:element name="awps01co_o_sec_ps" nillable="false">
                                    <xsd:simpleType>
                                       <xsd:annotation>
                                          <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Tue Oct 06 19:51:02 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                                       </xsd:annotation>
                                       <xsd:restriction base="xsd:string">
                                          <xsd:maxLength value="12"/>
                                          <xsd:whiteSpace value="preserve"/>
                                       </xsd:restriction>
                                    </xsd:simpleType>
                                 </xsd:element>
                                 <xsd:element name="awps01co_o_cod_ps" nillable="false">
                                    <xsd:simpleType>
                                       <xsd:annotation>
                                          <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Tue Oct 06 19:51:02 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                                       </xsd:annotation>
                                       <xsd:restriction base="xsd:string">
                                          <xsd:maxLength value="9"/>
                                          <xsd:whiteSpace value="preserve"/>
                                       </xsd:restriction>
                                    </xsd:simpleType>
                                 </xsd:element>
                                 <xsd:element name="awps01co_o_desc_ps" nillable="false">
                                    <xsd:simpleType>
                                       <xsd:annotation>
                                          <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Tue Oct 06 19:51:02 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                                       </xsd:annotation>
                                       <xsd:restriction base="xsd:string">
                                          <xsd:maxLength value="30"/>
                                          <xsd:whiteSpace value="preserve"/>
                                       </xsd:restriction>
                                    </xsd:simpleType>
                                 </xsd:element>
                                 <xsd:element name="awps01co_o_cod_op" nillable="false">
                                    <xsd:simpleType>
                                       <xsd:annotation>
                                          <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Tue Oct 06 19:51:02 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                                       </xsd:annotation>
                                       <xsd:restriction base="xsd:string">
                                          <xsd:maxLength value="9"/>
                                          <xsd:whiteSpace value="preserve"/>
                                       </xsd:restriction>
                                    </xsd:simpleType>
                                 </xsd:element>
                                 <xsd:element name="awps01co_o_desc_op" nillable="false">
                                    <xsd:simpleType>
                                       <xsd:annotation>
                                          <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Tue Oct 06 19:51:03 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                                       </xsd:annotation>
                                       <xsd:restriction base="xsd:string">
                                          <xsd:maxLength value="30"/>
                                          <xsd:whiteSpace value="preserve"/>
                                       </xsd:restriction>
                                    </xsd:simpleType>
                                 </xsd:element>
                                 <xsd:element name="awps01co_o_cant_ps" nillable="false">
                                    <xsd:simpleType>
                                       <xsd:annotation>
                                          <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Tue Oct 06 19:51:03 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                                       </xsd:annotation>
                                       <xsd:restriction base="xsd:string">
                                          <xsd:maxLength value="9"/>
                                          <xsd:whiteSpace value="preserve"/>
                                       </xsd:restriction>
                                    </xsd:simpleType>
                                 </xsd:element>
                                 <xsd:element name="awps01co_o_tip_ps" nillable="false">
                                    <xsd:simpleType>
                                       <xsd:annotation>
                                          <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Tue Oct 06 19:51:03 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                                       </xsd:annotation>
                                       <xsd:restriction base="xsd:string">
                                          <xsd:maxLength value="1"/>
                                          <xsd:whiteSpace value="preserve"/>
                                       </xsd:restriction>
                                    </xsd:simpleType>
                                 </xsd:element>
                                 <xsd:element name="awps01co_o_desc_tip_ps" nillable="false">
                                    <xsd:simpleType>
                                       <xsd:annotation>
                                          <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Tue Oct 06 19:51:03 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                                       </xsd:annotation>
                                       <xsd:restriction base="xsd:string">
                                          <xsd:maxLength value="20"/>
                                          <xsd:whiteSpace value="preserve"/>
                                       </xsd:restriction>
                                    </xsd:simpleType>
                                 </xsd:element>
                                 <xsd:element name="awps01co_o_ind_fact_ps" nillable="false">
                                    <xsd:simpleType>
                                       <xsd:annotation>
                                          <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Tue Oct 06 19:51:05 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                                       </xsd:annotation>
                                       <xsd:restriction base="xsd:string">
                                          <xsd:maxLength value="1"/>
                                          <xsd:whiteSpace value="preserve"/>
                                       </xsd:restriction>
                                    </xsd:simpleType>
                                 </xsd:element>
                                 <xsd:element name="awps01co_o_est_ps" nillable="false">
                                    <xsd:simpleType>
                                       <xsd:annotation>
                                          <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Tue Oct 06 19:51:05 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                                       </xsd:annotation>
                                       <xsd:restriction base="xsd:string">
                                          <xsd:maxLength value="20"/>
                                          <xsd:whiteSpace value="preserve"/>
                                       </xsd:restriction>
                                    </xsd:simpleType>
                                 </xsd:element>
                                 <xsd:element name="awps01co_o_fec_alta_ps" nillable="false">
                                    <xsd:simpleType>
                                       <xsd:annotation>
                                          <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Tue Oct 06 19:51:06 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                                       </xsd:annotation>
                                       <xsd:restriction base="xsd:string">
                                          <xsd:maxLength value="10"/>
                                          <xsd:whiteSpace value="preserve"/>
                                       </xsd:restriction>
                                    </xsd:simpleType>
                                 </xsd:element>
                                 <xsd:element name="awps01co_o_fec_baja_ps" nillable="false">
                                    <xsd:simpleType>
                                       <xsd:annotation>
                                          <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Tue Oct 06 19:51:06 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                                       </xsd:annotation>
                                       <xsd:restriction base="xsd:string">
                                          <xsd:maxLength value="10"/>
                                          <xsd:whiteSpace value="preserve"/>
                                       </xsd:restriction>
                                    </xsd:simpleType>
                                 </xsd:element>
                                 <xsd:element name="awps01co_o_cod_familia" nillable="false">
                                    <xsd:simpleType>
                                       <xsd:annotation>
                                          <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Tue Oct 06 19:51:08 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                                       </xsd:annotation>
                                       <xsd:restriction base="xsd:string">
                                          <xsd:maxLength value="9"/>
                                          <xsd:whiteSpace value="preserve"/>
                                       </xsd:restriction>
                                    </xsd:simpleType>
                                 </xsd:element>
                                 <xsd:element name="awps01co_o_desc_familia" nillable="false">
                                    <xsd:simpleType>
                                       <xsd:annotation>
                                          <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Tue Oct 06 19:51:08 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                                       </xsd:annotation>
                                       <xsd:restriction base="xsd:string">
                                          <xsd:maxLength value="30"/>
                                          <xsd:whiteSpace value="preserve"/>
                                       </xsd:restriction>
                                    </xsd:simpleType>
                                 </xsd:element>
                                 <xsd:element name="awps01co_o_valor_ps" nillable="false">
                                    <xsd:simpleType>
                                       <xsd:annotation>
                                          <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Tue Oct 06 19:51:08 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                                       </xsd:annotation>
                                       <xsd:restriction base="xsd:string">
                                          <xsd:maxLength value="13"/>
                                          <xsd:whiteSpace value="preserve"/>
                                       </xsd:restriction>
                                    </xsd:simpleType>
                                 </xsd:element>
                                 <xsd:element name="awps01co_o_valor_ps_red" nillable="false">
                                    <xsd:simpleType>
                                       <xsd:annotation>
                                          <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Tue Oct 06 19:51:09 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                                       </xsd:annotation>
                                       <xsd:restriction base="xsd:string">
                                          <xsd:maxLength value="13"/>
                                          <xsd:whiteSpace value="preserve"/>
                                       </xsd:restriction>
                                    </xsd:simpleType>
                                 </xsd:element>
                                 <xsd:element name="awps01co_o_moneda" nillable="false">
                                    <xsd:simpleType>
                                       <xsd:annotation>
                                          <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Tue Oct 06 19:51:10 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                                       </xsd:annotation>
                                       <xsd:restriction base="xsd:string">
                                          <xsd:maxLength value="3"/>
                                          <xsd:whiteSpace value="preserve"/>
                                       </xsd:restriction>
                                    </xsd:simpleType>
                                 </xsd:element>
                                 <xsd:element name="awps01co_o_cod_cf" nillable="false">
                                    <xsd:simpleType>
                                       <xsd:annotation>
                                          <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Tue Oct 06 19:51:10 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                                       </xsd:annotation>
                                       <xsd:restriction base="xsd:string">
                                          <xsd:maxLength value="9"/>
                                          <xsd:whiteSpace value="preserve"/>
                                       </xsd:restriction>
                                    </xsd:simpleType>
                                 </xsd:element>
                                 <xsd:element name="awps01co_o_cod_conf" nillable="false">
                                    <xsd:simpleType>
                                       <xsd:annotation>
                                          <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Tue Oct 06 19:51:10 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                                       </xsd:annotation>
                                       <xsd:restriction base="xsd:string">
                                          <xsd:maxLength value="9"/>
                                          <xsd:whiteSpace value="preserve"/>
                                       </xsd:restriction>
                                    </xsd:simpleType>
                                 </xsd:element>
                                 <xsd:element name="awps01co_o_desc_cf" nillable="false">
                                    <xsd:simpleType>
                                       <xsd:annotation>
                                          <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Tue Oct 06 19:51:10 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                                       </xsd:annotation>
                                       <xsd:restriction base="xsd:string">
                                          <xsd:maxLength value="30"/>
                                          <xsd:whiteSpace value="preserve"/>
                                       </xsd:restriction>
                                    </xsd:simpleType>
                                 </xsd:element>
                                 <xsd:element name="awps01co_o_sec_paq" nillable="false">
                                    <xsd:simpleType>
                                       <xsd:annotation>
                                          <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Tue Oct 06 19:51:10 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                                       </xsd:annotation>
                                       <xsd:restriction base="xsd:string">
                                          <xsd:maxLength value="12"/>
                                          <xsd:whiteSpace value="preserve"/>
                                       </xsd:restriction>
                                    </xsd:simpleType>
                                 </xsd:element>
                                 <xsd:element name="awps01co_o_cod_paq" nillable="false">
                                    <xsd:simpleType>
                                       <xsd:annotation>
                                          <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Tue Oct 06 19:51:10 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                                       </xsd:annotation>
                                       <xsd:restriction base="xsd:string">
                                          <xsd:maxLength value="9"/>
                                          <xsd:whiteSpace value="preserve"/>
                                       </xsd:restriction>
                                    </xsd:simpleType>
                                 </xsd:element>
                                 <xsd:element name="awps01co_o_nombre_paq" nillable="false">
                                    <xsd:simpleType>
                                       <xsd:annotation>
                                          <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Tue Oct 06 19:51:10 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                                       </xsd:annotation>
                                       <xsd:restriction base="xsd:string">
                                          <xsd:maxLength value="8"/>
                                          <xsd:whiteSpace value="preserve"/>
                                       </xsd:restriction>
                                    </xsd:simpleType>
                                 </xsd:element>
                                 <xsd:element name="awps01co_o_cod_fam" nillable="false">
                                    <xsd:simpleType>
                                       <xsd:annotation>
                                          <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Tue Oct 06 19:51:10 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                                       </xsd:annotation>
                                       <xsd:restriction base="xsd:string">
                                          <xsd:maxLength value="5"/>
                                          <xsd:whiteSpace value="preserve"/>
                                       </xsd:restriction>
                                    </xsd:simpleType>
                                 </xsd:element>
                                 <xsd:element name="awps01co_o_des_fam" nillable="false">
                                    <xsd:simpleType>
                                       <xsd:annotation>
                                          <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Tue Oct 06 19:51:10 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                                       </xsd:annotation>
                                       <xsd:restriction base="xsd:string">
                                          <xsd:maxLength value="20"/>
                                          <xsd:whiteSpace value="preserve"/>
                                       </xsd:restriction>
                                    </xsd:simpleType>
                                 </xsd:element>
                                 <xsd:element name="awps01co_o_subg1_cod" nillable="false">
                                    <xsd:simpleType>
                                       <xsd:annotation>
                                          <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Tue Oct 06 19:51:10 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                                       </xsd:annotation>
                                       <xsd:restriction base="xsd:string">
                                          <xsd:maxLength value="5"/>
                                          <xsd:whiteSpace value="preserve"/>
                                       </xsd:restriction>
                                    </xsd:simpleType>
                                 </xsd:element>
                                 <xsd:element name="awps01co_o_des_subg1" nillable="false">
                                    <xsd:simpleType>
                                       <xsd:annotation>
                                          <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Tue Oct 06 19:51:11 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                                       </xsd:annotation>
                                       <xsd:restriction base="xsd:string">
                                          <xsd:maxLength value="35"/>
                                          <xsd:whiteSpace value="preserve"/>
                                       </xsd:restriction>
                                    </xsd:simpleType>
                                 </xsd:element>
                                 <xsd:element name="awps01co_o_subg2_cod" nillable="false">
                                    <xsd:simpleType>
                                       <xsd:annotation>
                                          <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Tue Oct 06 19:51:11 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                                       </xsd:annotation>
                                       <xsd:restriction base="xsd:string">
                                          <xsd:maxLength value="5"/>
                                          <xsd:whiteSpace value="preserve"/>
                                       </xsd:restriction>
                                    </xsd:simpleType>
                                 </xsd:element>
                                 <xsd:element name="awps01co_o_des_subg2" nillable="false">
                                    <xsd:simpleType>
                                       <xsd:annotation>
                                          <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Tue Oct 06 19:51:11 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                                       </xsd:annotation>
                                       <xsd:restriction base="xsd:string">
                                          <xsd:maxLength value="35"/>
                                          <xsd:whiteSpace value="preserve"/>
                                       </xsd:restriction>
                                    </xsd:simpleType>
                                 </xsd:element>
                                 <xsd:element maxOccurs="15" minOccurs="15" name="awps01co_o_pi_cliente" nillable="false">
                                    <xsd:complexType mixed="false">
                                       <xsd:sequence>
                                          <xsd:element name="awps01co_o_sec_car" nillable="false">
                                             <xsd:simpleType>
                                                <xsd:annotation>
                                                   <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Tue Oct 06 19:51:11 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                                                </xsd:annotation>
                                                <xsd:restriction base="xsd:string">
                                                   <xsd:maxLength value="12"/>
                                                   <xsd:whiteSpace value="preserve"/>
                                                </xsd:restriction>
                                             </xsd:simpleType>
                                          </xsd:element>
                                          <xsd:element name="awps01co_o_cod_car" nillable="false">
                                             <xsd:simpleType>
                                                <xsd:annotation>
                                                   <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Tue Oct 06 19:51:11 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                                                </xsd:annotation>
                                                <xsd:restriction base="xsd:string">
                                                   <xsd:maxLength value="12"/>
                                                   <xsd:whiteSpace value="preserve"/>
                                                </xsd:restriction>
                                             </xsd:simpleType>
                                          </xsd:element>
                                          <xsd:element name="awps01co_o_cod_dom" nillable="false">
                                             <xsd:simpleType>
                                                <xsd:annotation>
                                                   <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Tue Oct 06 19:51:11 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                                                </xsd:annotation>
                                                <xsd:restriction base="xsd:string">
                                                   <xsd:maxLength value="12"/>
                                                   <xsd:whiteSpace value="preserve"/>
                                                </xsd:restriction>
                                             </xsd:simpleType>
                                          </xsd:element>
                                          <xsd:element name="awps01co_o_tip_dom" nillable="false">
                                             <xsd:simpleType>
                                                <xsd:annotation>
                                                   <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Tue Oct 06 19:51:11 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                                                </xsd:annotation>
                                                <xsd:restriction base="xsd:string">
                                                   <xsd:maxLength value="1"/>
                                                   <xsd:whiteSpace value="preserve"/>
                                                </xsd:restriction>
                                             </xsd:simpleType>
                                          </xsd:element>
                                          <xsd:element name="awps01co_o_valor_dom" nillable="false">
                                             <xsd:simpleType>
                                                <xsd:annotation>
                                                   <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Tue Oct 06 19:51:11 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                                                </xsd:annotation>
                                                <xsd:restriction base="xsd:string">
                                                   <xsd:maxLength value="30"/>
                                                   <xsd:whiteSpace value="preserve"/>
                                                </xsd:restriction>
                                             </xsd:simpleType>
                                          </xsd:element>
                                       </xsd:sequence>
                                    </xsd:complexType>
                                 </xsd:element>
                              </xsd:sequence>
                           </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="awps01co_o_plan_minuto" nillable="false">
                           <xsd:simpleType>
                              <xsd:annotation>
                                 <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Tue Oct 06 19:51:11 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                              </xsd:annotation>
                              <xsd:restriction base="xsd:string">
                                 <xsd:maxLength value="1"/>
                                 <xsd:whiteSpace value="preserve"/>
                              </xsd:restriction>
                           </xsd:simpleType>
                        </xsd:element>
                     </xsd:sequence>
                  </xsd:complexType>
               </xsd:element>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:element name="AWPS01WSOperationResponse" nillable="false" type="tns:ProgramInterface"/>
      </xsd:schema>
   </types>
   <message name="AWPS01WSOperationResponse">
      <part element="resns:AWPS01WSOperationResponse" name="ResponsePart"/>
   </message>
   <message name="AWPS01WSOperationRequest">
      <part element="reqns:AWPS01WSOperation" name="RequestPart"/>
   </message>
   <portType name="AWPS01WSPort">
      <operation name="AWPS01WSOperation">
         <input message="tns:AWPS01WSOperationRequest" name="AWPS01WSOperationRequest"/>
         <output message="tns:AWPS01WSOperationResponse" name="AWPS01WSOperationResponse"/>
      </operation>
   </portType>
   <binding name="AWPS01WSHTTPSoapBinding" type="tns:AWPS01WSPort">
      <!-- This soap:binding indicates the use of SOAP 1.1 -->
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <!-- This soap:binding indicates the use of SOAP 1.2 -->
      <!-- <soap:binding style="document" transport="http://www.w3.org/2003/05/soap-http"/> -->
      <operation name="AWPS01WSOperation">
         <soap:operation soapAction="" style="document"/>
         <input name="AWPS01WSOperationRequest">
            <soap:body parts="RequestPart" use="literal"/>
         </input>
         <output name="AWPS01WSOperationResponse">
            <soap:body parts="ResponsePart" use="literal"/>
         </output>
      </operation>
   </binding>
   <service name="AWPS01WSService">
      <port binding="tns:AWPS01WSHTTPSoapBinding" name="AWPS01WSPort">
         <!-- This soap:address indicates the location of the Web service over HTTP.
              Please replace "my-server" with the TCPIP host name of your CICS region.
              Please replace "my-port" with the port number of your CICS TCPIPSERVICE. -->
         <soap:address location="http://esb2.ctc.cl:8081/services/consultaPSporLinea"/>
         <!-- This soap:address indicates the location of the Web service over HTTPS. -->
         <!-- <soap:address location="https://my-server:my-port/services/consultaPSporLinea"/> -->
         <!-- This soap:address indicates the location of the Web service over MQSeries.
              Please replace "my-queue" with the appropriate queue name. -->
         <!-- <soap:address location="jms:/queue?destination=my-queue&amp;connectionFactory=()&amp;targetService=/services/consultaPSporLinea&amp;initialContextFactory=com.ibm.mq.jms.Nojndi" /> -->
      </port>
   </service>
</definitions>