ObtieneResponseWS/ObtieneResponseWS/src/main/java/cl/tchile/wsdl/consultaApelAlturas.wsdl

<?xml version="1.0" ?>
<!--This document was generated using 'DFHLS2WS' at mapping level '1.1'. -->
<definitions targetNamespace="http://www.APE9016.APEWS16I.com" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:reqns="http://www.APE9016.APEWS16I.Request.com" xmlns:resns="http://www.APE9016.APEWS16I.Response.com" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.APE9016.APEWS16I.com">
   <types>
      <xsd:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://www.APE9016.APEWS16I.Request.com" xmlns:tns="http://www.APE9016.APEWS16I.Request.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
         <xsd:annotation>
            <xsd:documentation source="http://www.ibm.com/software/htp/cics/annotations">This schema was generated by the CICS Web services assistant.</xsd:documentation>
         </xsd:annotation>
         <xsd:annotation>
            <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Wed Jul 22 21:23:29 UTC 2009
com.ibm.cics.wsdl.properties.mappingLevel=1.1
</xsd:appinfo>
         </xsd:annotation>
         <xsd:complexType abstract="false" block="#all" final="#all" mixed="false" name="ProgramInterface">
            <xsd:sequence>
               <xsd:element name="msi_registro" nillable="false">
                  <xsd:complexType mixed="false">
                     <xsd:sequence>
                        <xsd:element name="msi_entrada" nillable="false">
                           <xsd:complexType mixed="false">
                              <xsd:sequence>
                                 <xsd:element name="msi_ciu" nillable="false">
                                    <xsd:simpleType>
                                       <xsd:annotation>
                                          <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Wed Jul 22 21:23:29 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                                       </xsd:annotation>
                                       <xsd:restriction base="xsd:string">
                                          <xsd:maxLength value="5"/>
                                          <xsd:whiteSpace value="preserve"/>
                                       </xsd:restriction>
                                    </xsd:simpleType>
                                 </xsd:element>
                                 <xsd:element name="msi_cll" nillable="false">
                                    <xsd:simpleType>
                                       <xsd:annotation>
                                          <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Wed Jul 22 21:23:29 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                                       </xsd:annotation>
                                       <xsd:restriction base="xsd:string">
                                          <xsd:maxLength value="6"/>
                                          <xsd:whiteSpace value="preserve"/>
                                       </xsd:restriction>
                                    </xsd:simpleType>
                                 </xsd:element>
                                 <xsd:element name="msi_alt" nillable="false">
                                    <xsd:simpleType>
                                       <xsd:annotation>
                                          <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Wed Jul 22 21:23:31 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                                       </xsd:annotation>
                                       <xsd:restriction base="xsd:string">
                                          <xsd:maxLength value="6"/>
                                          <xsd:whiteSpace value="preserve"/>
                                       </xsd:restriction>
                                    </xsd:simpleType>
                                 </xsd:element>
                                 <xsd:element name="filler1" nillable="false">
                                    <xsd:simpleType>
                                       <xsd:annotation>
                                          <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Wed Jul 22 21:23:31 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                                       </xsd:annotation>
                                       <xsd:restriction base="xsd:string">
                                          <xsd:maxLength value="20"/>
                                          <xsd:whiteSpace value="preserve"/>
                                       </xsd:restriction>
                                    </xsd:simpleType>
                                 </xsd:element>
                                 <xsd:element name="filler2" nillable="false">
                                    <xsd:simpleType>
                                       <xsd:annotation>
                                          <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Wed Jul 22 21:23:31 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                                       </xsd:annotation>
                                       <xsd:restriction base="xsd:string">
                                          <xsd:maxLength value="3995"/>
                                          <xsd:whiteSpace value="preserve"/>
                                       </xsd:restriction>
                                    </xsd:simpleType>
                                 </xsd:element>
                              </xsd:sequence>
                           </xsd:complexType>
                        </xsd:element>
                     </xsd:sequence>
                  </xsd:complexType>
               </xsd:element>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:element name="APE9016Operation" nillable="false" type="tns:ProgramInterface"/>
      </xsd:schema>
      <xsd:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://www.APE9016.APEWS16I.Response.com" xmlns:tns="http://www.APE9016.APEWS16I.Response.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
         <xsd:annotation>
            <xsd:documentation source="http://www.ibm.com/software/htp/cics/annotations">This schema was generated by the CICS Web services assistant.</xsd:documentation>
         </xsd:annotation>
         <xsd:annotation>
            <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Wed Jul 22 21:23:36 UTC 2009
com.ibm.cics.wsdl.properties.mappingLevel=1.1
</xsd:appinfo>
         </xsd:annotation>
         <xsd:complexType abstract="false" block="#all" final="#all" mixed="false" name="ProgramInterface">
            <xsd:sequence>
               <xsd:element name="mso_registro" nillable="false">
                  <xsd:complexType mixed="false">
                     <xsd:sequence>
                        <xsd:element name="mso_salida" nillable="false">
                           <xsd:complexType mixed="false">
                              <xsd:sequence>
                                 <xsd:element name="filler1" nillable="false">
                                    <xsd:simpleType>
                                       <xsd:annotation>
                                          <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Wed Jul 22 21:23:36 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                                       </xsd:annotation>
                                       <xsd:restriction base="xsd:string">
                                          <xsd:maxLength value="37"/>
                                          <xsd:whiteSpace value="preserve"/>
                                       </xsd:restriction>
                                    </xsd:simpleType>
                                 </xsd:element>
                                 <xsd:element name="mso_datos_salida" nillable="false">
                                    <xsd:complexType mixed="false">
                                       <xsd:sequence>
                                          <xsd:element name="mso_s_respuesta" nillable="false">
                                             <xsd:simpleType>
                                                <xsd:annotation>
                                                   <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Wed Jul 22 21:23:36 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                                                </xsd:annotation>
                                                <xsd:restriction base="xsd:string">
                                                   <xsd:maxLength value="1"/>
                                                   <xsd:whiteSpace value="preserve"/>
                                                </xsd:restriction>
                                             </xsd:simpleType>
                                          </xsd:element>
                                          <xsd:element maxOccurs="50" minOccurs="50" name="filler2" nillable="false">
                                             <xsd:complexType mixed="false">
                                                <xsd:sequence>
                                                   <xsd:element name="mso_sec" nillable="false">
                                                      <xsd:simpleType>
                                                         <xsd:annotation>
                                                            <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Wed Jul 22 21:23:37 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                                                         </xsd:annotation>
                                                         <xsd:restriction base="xsd:string">
                                                            <xsd:maxLength value="20"/>
                                                            <xsd:whiteSpace value="preserve"/>
                                                         </xsd:restriction>
                                                      </xsd:simpleType>
                                                   </xsd:element>
                                                   <xsd:element name="mso_bte" nillable="false">
                                                      <xsd:simpleType>
                                                         <xsd:annotation>
                                                            <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Wed Jul 22 21:23:37 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                                                         </xsd:annotation>
                                                         <xsd:restriction base="xsd:string">
                                                            <xsd:maxLength value="20"/>
                                                            <xsd:whiteSpace value="preserve"/>
                                                         </xsd:restriction>
                                                      </xsd:simpleType>
                                                   </xsd:element>
                                                   <xsd:element name="mso_pso_des" nillable="false">
                                                      <xsd:simpleType>
                                                         <xsd:annotation>
                                                            <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Wed Jul 22 21:23:37 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                                                         </xsd:annotation>
                                                         <xsd:restriction base="xsd:string">
                                                            <xsd:maxLength value="2"/>
                                                            <xsd:whiteSpace value="preserve"/>
                                                         </xsd:restriction>
                                                      </xsd:simpleType>
                                                   </xsd:element>
                                                   <xsd:element name="mso_pso_has" nillable="false">
                                                      <xsd:simpleType>
                                                         <xsd:annotation>
                                                            <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Wed Jul 22 21:23:37 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                                                         </xsd:annotation>
                                                         <xsd:restriction base="xsd:string">
                                                            <xsd:maxLength value="2"/>
                                                            <xsd:whiteSpace value="preserve"/>
                                                         </xsd:restriction>
                                                      </xsd:simpleType>
                                                   </xsd:element>
                                                   <xsd:element name="mso_dcl_des" nillable="false">
                                                      <xsd:simpleType>
                                                         <xsd:annotation>
                                                            <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Wed Jul 22 21:23:37 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                                                         </xsd:annotation>
                                                         <xsd:restriction base="xsd:string">
                                                            <xsd:maxLength value="5"/>
                                                            <xsd:whiteSpace value="preserve"/>
                                                         </xsd:restriction>
                                                      </xsd:simpleType>
                                                   </xsd:element>
                                                   <xsd:element name="mso_dcl_has" nillable="false">
                                                      <xsd:simpleType>
                                                         <xsd:annotation>
                                                            <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Wed Jul 22 21:23:38 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                                                         </xsd:annotation>
                                                         <xsd:restriction base="xsd:string">
                                                            <xsd:maxLength value="5"/>
                                                            <xsd:whiteSpace value="preserve"/>
                                                         </xsd:restriction>
                                                      </xsd:simpleType>
                                                   </xsd:element>
                                                   <xsd:element name="mso_pta" nillable="false">
                                                      <xsd:simpleType>
                                                         <xsd:annotation>
                                                            <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Wed Jul 22 21:23:38 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                                                         </xsd:annotation>
                                                         <xsd:restriction base="xsd:string">
                                                            <xsd:maxLength value="4"/>
                                                            <xsd:whiteSpace value="preserve"/>
                                                         </xsd:restriction>
                                                      </xsd:simpleType>
                                                   </xsd:element>
                                                   <xsd:element name="mso_nodo" nillable="false">
                                                      <xsd:complexType mixed="false">
                                                         <xsd:sequence>
                                                            <xsd:element name="mso_nod_cll" nillable="false">
                                                               <xsd:simpleType>
                                                                  <xsd:annotation>
                                                                     <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Wed Jul 22 21:23:39 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                                                                  </xsd:annotation>
                                                                  <xsd:restriction base="xsd:string">
                                                                     <xsd:maxLength value="6"/>
                                                                     <xsd:whiteSpace value="preserve"/>
                                                                  </xsd:restriction>
                                                               </xsd:simpleType>
                                                            </xsd:element>
                                                            <xsd:element name="mso_nod_alt" nillable="false">
                                                               <xsd:simpleType>
                                                                  <xsd:annotation>
                                                                     <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Wed Jul 22 21:23:39 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                                                                  </xsd:annotation>
                                                                  <xsd:restriction base="xsd:string">
                                                                     <xsd:maxLength value="6"/>
                                                                     <xsd:whiteSpace value="preserve"/>
                                                                  </xsd:restriction>
                                                               </xsd:simpleType>
                                                            </xsd:element>
                                                            <xsd:element name="mso_nod_num" nillable="false">
                                                               <xsd:simpleType>
                                                                  <xsd:annotation>
                                                                     <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Wed Jul 22 21:23:41 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                                                                  </xsd:annotation>
                                                                  <xsd:restriction base="xsd:string">
                                                                     <xsd:maxLength value="3"/>
                                                                     <xsd:whiteSpace value="preserve"/>
                                                                  </xsd:restriction>
                                                               </xsd:simpleType>
                                                            </xsd:element>
                                                            <xsd:element name="mso_nod_tip" nillable="false">
                                                               <xsd:simpleType>
                                                                  <xsd:annotation>
                                                                     <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Wed Jul 22 21:23:42 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                                                                  </xsd:annotation>
                                                                  <xsd:restriction base="xsd:string">
                                                                     <xsd:maxLength value="1"/>
                                                                     <xsd:whiteSpace value="preserve"/>
                                                                  </xsd:restriction>
                                                               </xsd:simpleType>
                                                            </xsd:element>
                                                         </xsd:sequence>
                                                      </xsd:complexType>
                                                   </xsd:element>
                                                </xsd:sequence>
                                             </xsd:complexType>
                                          </xsd:element>
                                          <xsd:element name="mso_cant_reg" nillable="false">
                                             <xsd:simpleType>
                                                <xsd:annotation>
                                                   <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Wed Jul 22 21:23:42 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                                                </xsd:annotation>
                                                <xsd:restriction base="xsd:string">
                                                   <xsd:maxLength value="2"/>
                                                   <xsd:whiteSpace value="preserve"/>
                                                </xsd:restriction>
                                             </xsd:simpleType>
                                          </xsd:element>
                                          <xsd:element name="filler3" nillable="false">
                                             <xsd:simpleType>
                                                <xsd:annotation>
                                                   <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Wed Jul 22 21:23:44 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                                                </xsd:annotation>
                                                <xsd:restriction base="xsd:string">
                                                   <xsd:maxLength value="42"/>
                                                   <xsd:whiteSpace value="preserve"/>
                                                </xsd:restriction>
                                             </xsd:simpleType>
                                          </xsd:element>
                                       </xsd:sequence>
                                    </xsd:complexType>
                                 </xsd:element>
                              </xsd:sequence>
                           </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="mso_retorno" nillable="false">
                           <xsd:complexType mixed="false">
                              <xsd:sequence>
                                 <xsd:element name="mso_cod_retorno" nillable="false">
                                    <xsd:simpleType>
                                       <xsd:annotation>
                                          <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Wed Jul 22 21:23:44 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                                       </xsd:annotation>
                                       <xsd:restriction base="xsd:string">
                                          <xsd:maxLength value="3"/>
                                          <xsd:whiteSpace value="preserve"/>
                                       </xsd:restriction>
                                    </xsd:simpleType>
                                 </xsd:element>
                                 <xsd:element name="mso_cod_error" nillable="false">
                                    <xsd:simpleType>
                                       <xsd:annotation>
                                          <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Wed Jul 22 21:23:44 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                                       </xsd:annotation>
                                       <xsd:restriction base="xsd:string">
                                          <xsd:maxLength value="3"/>
                                          <xsd:whiteSpace value="preserve"/>
                                       </xsd:restriction>
                                    </xsd:simpleType>
                                 </xsd:element>
                                 <xsd:element name="mso_descripcion_error" nillable="false">
                                    <xsd:simpleType>
                                       <xsd:annotation>
                                          <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Wed Jul 22 21:23:45 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                                       </xsd:annotation>
                                       <xsd:restriction base="xsd:string">
                                          <xsd:maxLength value="45"/>
                                          <xsd:whiteSpace value="preserve"/>
                                       </xsd:restriction>
                                    </xsd:simpleType>
                                 </xsd:element>
                                 <xsd:element name="mso_filler" nillable="false">
                                    <xsd:simpleType>
                                       <xsd:annotation>
                                          <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Wed Jul 22 21:23:45 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                                       </xsd:annotation>
                                       <xsd:restriction base="xsd:string">
                                          <xsd:maxLength value="162"/>
                                          <xsd:whiteSpace value="preserve"/>
                                       </xsd:restriction>
                                    </xsd:simpleType>
                                 </xsd:element>
                              </xsd:sequence>
                           </xsd:complexType>
                        </xsd:element>
                     </xsd:sequence>
                  </xsd:complexType>
               </xsd:element>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:element name="APE9016OperationResponse" nillable="false" type="tns:ProgramInterface"/>
      </xsd:schema>
   </types>
   <message name="APE9016OperationRequest">
      <part element="reqns:APE9016Operation" name="RequestPart"/>
   </message>
   <message name="APE9016OperationResponse">
      <part element="resns:APE9016OperationResponse" name="ResponsePart"/>
   </message>
   <portType name="APE9016Port">
      <operation name="APE9016Operation">
         <input message="tns:APE9016OperationRequest" name="APE9016OperationRequest"/>
         <output message="tns:APE9016OperationResponse" name="APE9016OperationResponse"/>
      </operation>
   </portType>
   <binding name="APE9016HTTPSoapBinding" type="tns:APE9016Port">
      <!-- This soap:binding indicates the use of SOAP 1.1 -->
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <!-- This soap:binding indicates the use of SOAP 1.2 -->
      <!-- <soap:binding style="document" transport="http://www.w3.org/2003/05/soap-http"/> -->
      <operation name="APE9016Operation">
         <soap:operation soapAction="" style="document"/>
         <input name="APE9016OperationRequest">
            <soap:body parts="RequestPart" use="literal"/>
         </input>
         <output name="APE9016OperationResponse">
            <soap:body parts="ResponsePart" use="literal"/>
         </output>
      </operation>
   </binding>
   <service name="APE9016Service">
      <port binding="tns:APE9016HTTPSoapBinding" name="APE9016Port">
         <!-- This soap:address indicates the location of the Web service over HTTP.
              Please replace "my-server" with the TCPIP host name of your CICS region.
              Please replace "my-port" with the port number of your CICS TCPIPSERVICE. -->
         <soap:address location="http://TCHMFPROD.ctc.cl:8080/services/consultaApelAlturas"/>
         <!-- This soap:address indicates the location of the Web service over HTTPS. -->
         <!-- <soap:address location="https://my-server:my-port/services/consultaApelAlturas"/> -->
         <!-- This soap:address indicates the location of the Web service over MQSeries.
              Please replace "my-queue" with the appropriate queue name. -->
         <!-- <soap:address location="jms:/queue?destination=my-queue&amp;connectionFactory=()&amp;targetService=/services/consultaApelAlturas&amp;initialContextFactory=com.ibm.mq.jms.Nojndi" /> -->
      </port>
   </service>
</definitions>