ObtieneResponseWS/ObtieneResponseWS/src/main/java/cl/tchile/wsdl/consultaClienteRutLineaC.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.AWLC02WS.AWLC02WI.com" xmlns:reqns="http://www.AWLC02WS.AWLC02WI.Request.com" xmlns:resns="http://www.AWLC02WS.AWLC02WI.Response.com" xmlns:tns="http://www.AWLC02WS.AWLC02WI.com" xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:dpx="http://www.DPWPROXY.DPWPROXI.Response.com" xmlns:dp="http://www.datapower.com/extensions" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config">
<wsdl:types>
<xsd:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://www.AWLC02WS.AWLC02WI.Request.com" xmlns:tns="http://www.AWLC02WS.AWLC02WI.Request.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<xsd:complexType abstract="false" block="#all" final="#all" mixed="false" name="ProgramInterface">
<xsd:sequence>
<xsd:element nillable="false" name="awlc02wi_entrada" minOccurs="0" maxOccurs="1">
<xsd:complexType mixed="false">
<xsd:sequence>
<xsd:element nillable="false" name="awlc02wi_i_area">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="3" />
<xsd:whiteSpace value="preserve" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element nillable="false" name="awlc02wi_i_num_com">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="8" />
<xsd:whiteSpace value="preserve" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element nillable="false" name="awlc02wi_i_rut">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="12" />
<xsd:whiteSpace value="preserve" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element nillable="false" name="awlc02wi_i_dv">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="1" />
<xsd:whiteSpace value="preserve" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element nillable="false" name="awlc02wi_i_criterio">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="1" />
<xsd:whiteSpace value="preserve" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element nillable="false" name="awlc02wi_i_sec_linea">
<xsd:simpleType>
<xsd:restriction base="xsd:unsignedLong">
<xsd:maxInclusive value="999999999999" />
<xsd:minInclusive value="0" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:element nillable="false" type="tns:ProgramInterface" name="AWLC02WSOperation" />
</xsd:schema>
<xsd:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://www.AWLC02WS.AWLC02WI.Response.com" xmlns:tns="http://www.AWLC02WS.AWLC02WI.Response.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<xsd:complexType abstract="false" block="#all" final="#all" mixed="false" name="ProgramInterface">
<xsd:sequence>
<xsd:element nillable="false" name="awlc02wo_salida" minOccurs="0" maxOccurs="1">
<xsd:complexType mixed="false">
<xsd:sequence>
<xsd:element nillable="true" name="awlc02wo_o_cod_ret">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="3" />
<xsd:whiteSpace value="preserve" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element nillable="true" name="awlc02wo_o_desc_cod_ret">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="50" />
<xsd:whiteSpace value="preserve" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element nillable="true" name="awlc02wo_o_sqlcode">
<xsd:simpleType>
<xsd:restriction base="xsd:unsignedInt">
<xsd:maxInclusive value="999999999" />
<xsd:minInclusive value="0" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element nillable="true" name="awlc02wo_o_parrafo">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="50" />
<xsd:whiteSpace value="preserve" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element nillable="true" name="awlc02wo_o_finpaginacion">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="1" />
<xsd:whiteSpace value="preserve" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element nillable="true" name="awlc02wo_o_numregistros">
<xsd:simpleType>
<xsd:restriction base="xsd:unsignedInt">
<xsd:maxInclusive value="99" />
<xsd:minInclusive value="0" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element nillable="true" name="awlc02wo_o_nom_pag">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="30" />
<xsd:whiteSpace value="preserve" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element nillable="true" name="awlc02wo_o_ape1_pag">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="20" />
<xsd:whiteSpace value="preserve" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element nillable="true" name="awlc02wo_o_ape2_pag">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="20" />
<xsd:whiteSpace value="preserve" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element nillable="true" name="awlc02wo_o_nom_tit">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="30" />
<xsd:whiteSpace value="preserve" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element nillable="true" name="awlc02wo_o_ape1_tit">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="20" />
<xsd:whiteSpace value="preserve" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element nillable="true" name="awlc02wo_o_ape2_tit">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="20" />
<xsd:whiteSpace value="preserve" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element nillable="true" name="awlc02wo_o_rut_tit">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="12" />
<xsd:whiteSpace value="preserve" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element nillable="true" name="awlc02wo_o_dvf_tit">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="1" />
<xsd:whiteSpace value="preserve" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element nillable="true" name="awlc02wo_o_sec_tit">
<xsd:simpleType>
<xsd:restriction base="xsd:unsignedInt">
<xsd:maxInclusive value="999999999" />
<xsd:minInclusive value="0" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element nillable="true" name="awlc02wo_o_raz_soc">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="60" />
<xsd:whiteSpace value="preserve" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element nillable="true" name="awlc02wo_o_nom_fan">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="30" />
<xsd:whiteSpace value="preserve" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element nillable="true" name="awlc02wo_o_cod_giro">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="5" />
<xsd:whiteSpace value="preserve" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element nillable="true" name="awlc02wo_o_tipo_clie">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="1" />
<xsd:whiteSpace value="preserve" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element nillable="true" name="awlc02wo_o_tipo_seg">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="1" />
<xsd:whiteSpace value="preserve" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element nillable="true" name="awlc02wo_o_desc_tipo_clie">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="15" />
<xsd:whiteSpace value="preserve" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element nillable="true" name="awlc02wo_o_cod_seg">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="3" />
<xsd:whiteSpace value="preserve" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element nillable="true" name="awlc02wo_o_desc_seg">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="30" />
<xsd:whiteSpace value="preserve" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element nillable="true" name="awlc02wo_o_cod_sub_seg">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="3" />
<xsd:whiteSpace value="preserve" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element nillable="true" name="awlc02wo_o_tipo_clie_mac">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="1" />
<xsd:whiteSpace value="preserve" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element nillable="true" name="awlc02wo_o_desc_clie_mac">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="20" />
<xsd:whiteSpace value="preserve" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element nillable="true" name="awlc02wo_o_desc_sub_seg">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="30" />
<xsd:whiteSpace value="preserve" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element nillable="true" name="awlc02wo_o_mail_cliente">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="60" />
<xsd:whiteSpace value="preserve" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element nillable="true" name="awlc02wo_o_fecha_alt_clte">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="10" />
<xsd:whiteSpace value="preserve" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element nillable="true" name="awlc02wo_o_area_fax">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="3" />
<xsd:whiteSpace value="preserve" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element nillable="true" name="awlc02wo_o_num_fax">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="8" />
<xsd:whiteSpace value="preserve" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element nillable="true" name="awlc02wo_o_num_celula">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="10" />
<xsd:whiteSpace value="preserve" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element nillable="true" name="awlc02wo_o_pag_web">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="60" />
<xsd:whiteSpace value="preserve" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element nillable="true" name="awlc02wo_o_calle_tit">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="40" />
<xsd:whiteSpace value="preserve" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element nillable="true" name="awlc02wo_o_num_tit">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="6" />
<xsd:whiteSpace value="preserve" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element nillable="true" name="awlc02wo_o_piso_tit">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="2" />
<xsd:whiteSpace value="preserve" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element nillable="true" name="awlc02wo_o_dpto_tit">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="6" />
<xsd:whiteSpace value="preserve" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element nillable="true" name="awlc02wo_o_desc_comun_tit">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="30" />
<xsd:whiteSpace value="preserve" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element nillable="true" name="awlc02wo_o_desc_ciuda_tit">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="15" />
<xsd:whiteSpace value="preserve" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element nillable="false" name="awlc02wo_o_lineas" minOccurs="0" maxOccurs="40">
<xsd:complexType mixed="false">
<xsd:sequence>
<xsd:element nillable="true" name="awlc02wo_o_area">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="3" />
<xsd:whiteSpace value="preserve" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element nillable="true" name="awlc02wo_o_fono">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="8" />
<xsd:whiteSpace value="preserve" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element nillable="true" name="awlc02wo_o_sec_linea">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="12" />
<xsd:whiteSpace value="preserve" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element nillable="true" name="awlc02wo_o_calle_inst">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="40" />
<xsd:whiteSpace value="preserve" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element nillable="true" name="awlc02wo_o_num_inst">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="6" />
<xsd:whiteSpace value="preserve" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element nillable="true" name="awlc02wo_o_piso_inst">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="2" />
<xsd:whiteSpace value="preserve" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element nillable="true" name="awlc02wo_o_dpto_inst">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="6" />
<xsd:whiteSpace value="preserve" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element nillable="true" name="awlc02wo_o_cod_post_inst">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="7" />
<xsd:whiteSpace value="preserve" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element nillable="true" name="awlc02wo_o_cod_comun">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="3" />
<xsd:whiteSpace value="preserve" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element nillable="true" name="awlc02wo_o_desc_comun_inst">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="15" />
<xsd:whiteSpace value="preserve" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element nillable="true" name="awlc02wo_o_ciuda_inst">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="15" />
<xsd:whiteSpace value="preserve" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element nillable="true" name="awlc02wo_o_zona">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="2" />
<xsd:whiteSpace value="preserve" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element nillable="true" name="awlc02wo_o_central">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="2" />
<xsd:whiteSpace value="preserve" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element nillable="true" name="awlc02wo_o_desc_zona_cent">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="25" />
<xsd:whiteSpace value="preserve" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element nillable="true" name="awlc02wo_o_pta_comercial">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="4" />
<xsd:whiteSpace value="preserve" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element nillable="true" name="awlc02wo_o_fec_instalacion">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="10" />
<xsd:whiteSpace value="preserve" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element nillable="true" name="awlc02wo_o_tipo_linea">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="2" />
<xsd:whiteSpace value="preserve" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element nillable="true" name="awlc02wo_o_desc_tipo_linea">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="15" />
<xsd:whiteSpace value="preserve" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element nillable="true" name="awlc02wo_o_ind_fact">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="1" />
<xsd:whiteSpace value="preserve" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element nillable="true" name="awlc02wo_o_ind_pagadora">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="1" />
<xsd:whiteSpace value="preserve" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element nillable="true" name="awlc02wo_o_est_linea">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="30" />
<xsd:whiteSpace value="preserve" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element nillable="true" name="awlc02wo_o_cod_agencia">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="4" />
<xsd:whiteSpace value="preserve" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element nillable="true" name="awlc02wo_o_desc_agencia">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="30" />
<xsd:whiteSpace value="preserve" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element nillable="true" name="awlc02wo_o_fec_alta_li">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="10" />
<xsd:whiteSpace value="preserve" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element nillable="true" name="awlc02wo_o_fec_fin_vi">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="10" />
<xsd:whiteSpace value="preserve" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element nillable="true" name="awlc02wo_o_clie">
<xsd:simpleType>
<xsd:restriction base="xsd:unsignedInt">
<xsd:maxInclusive value="999999999" />
<xsd:minInclusive value="0" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element nillable="true" name="awlc02wo_o_num_cuen">
<xsd:simpleType>
<xsd:restriction base="xsd:unsignedInt">
<xsd:maxInclusive value="999999999" />
<xsd:minInclusive value="0" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element nillable="false" name="awlc02wo_o_direccion_cob" minOccurs="0" maxOccurs="1">
<xsd:complexType mixed="false">
<xsd:sequence>
<xsd:element nillable="true" name="awlc02wo_o_calle_cob">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="40" />
<xsd:whiteSpace value="preserve" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element nillable="true" name="awlc02wo_o_num_cob">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="6" />
<xsd:whiteSpace value="preserve" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element nillable="true" name="awlc02wo_o_dpto_cob">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="6" />
<xsd:whiteSpace value="preserve" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element nillable="true" name="awlc02wo_o_post_cob">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="7" />
<xsd:whiteSpace value="preserve" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element nillable="true" name="awlc02wo_o_cod_comun_cob">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="3" />
<xsd:whiteSpace value="preserve" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element nillable="true" name="awlc02wo_o_desc_comun_cob">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="15" />
<xsd:whiteSpace value="preserve" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element nillable="true" name="awlc02wo_o_ciuda_cob">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="15" />
<xsd:whiteSpace value="preserve" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element nillable="true" name="awlc02wo_o_respaldo">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="354" />
<xsd:whiteSpace value="preserve" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:element nillable="false" type="tns:ProgramInterface" name="AWLC02WSOperationResponse" />
</xsd:schema>
</wsdl:types>
<wsdl:message name="AWLC02WSOperationRequest">
<wsdl:part name="RequestPart" element="reqns:AWLC02WSOperation" />
</wsdl:message>
<wsdl:message name="AWLC02WSOperationResponse">
<wsdl:part name="ResponsePart" element="resns:AWLC02WSOperationResponse" />
</wsdl:message>
<wsdl:portType name="AWLC02WSPort">
<wsdl:operation name="AWLC02WSOperation">
<wsdl:input message="tns:AWLC02WSOperationRequest" name="AWLC02WSOperationRequest" />
<wsdl:output message="tns:AWLC02WSOperationResponse" name="AWLC02WSOperationResponse" />
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="AWLC02WSHTTPSoapBinding" type="tns:AWLC02WSPort">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
<wsdl:operation name="AWLC02WSOperation">
<soap:operation soapAction="" style="document" />
<wsdl:input name="AWLC02WSOperationRequest">
<soap:body parts="RequestPart" use="literal" />
</wsdl:input>
<wsdl:output name="AWLC02WSOperationResponse">
<soap:body parts="ResponsePart" use="literal" />
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="AWLC02WSService">
<wsdl:port binding="tns:AWLC02WSHTTPSoapBinding" name="AWLC02WSPort">
<soap:address location="http://esb.ctc.cl/services/consultaClienteRutLineaC" />
</wsdl:port>
</wsdl:service>
</wsdl:definitions>