ObtieneResponseWS/ObtieneResponseWS/src/main/java/cl/tchile/wsdl/listaPsLineaV8.wsdl

<?xml version="1.0" ?>
<!--This document was generated using 'DFHLS2WS' at mapping level '1.1'. -->
<definitions targetNamespace="http://www.AWLIW8CO.AWMLIP8I.com" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:reqns="http://www.AWLIW8CO.AWMLIP8I.Request.com" xmlns:resns="http://www.AWLIW8CO.AWMLIP8I.Response.com" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.AWLIW8CO.AWMLIP8I.com">
   <types>
      <xsd:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://www.AWLIW8CO.AWMLIP8I.Request.com" xmlns:tns="http://www.AWLIW8CO.AWMLIP8I.Request.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
         <xsd:annotation>
            <xsd:documentation source="http://www.ibm.com/software/htp/cics/annotations">This schema was generated by the CICS Web services assistant.</xsd:documentation>
         </xsd:annotation>
         <xsd:annotation>
            <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Mar 27 23:54:25 UTC 2009
com.ibm.cics.wsdl.properties.mappingLevel=1.1
</xsd:appinfo>
         </xsd:annotation>
         <xsd:complexType abstract="false" block="#all" final="#all" mixed="false" name="ProgramInterface">
            <xsd:sequence>
               <xsd:element name="awlip8co_entrada" nillable="false">
                  <xsd:complexType mixed="false">
                     <xsd:sequence>
                        <xsd:element name="awlip8co_i_area" nillable="false">
                           <xsd:simpleType>
                              <xsd:annotation>
                                 <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Mar 27 23:54:25 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                              </xsd:annotation>
                              <xsd:restriction base="xsd:string">
                                 <xsd:maxLength value="3"/>
                                 <xsd:whiteSpace value="preserve"/>
                              </xsd:restriction>
                           </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="awlip8co_i_num_com" nillable="false">
                           <xsd:simpleType>
                              <xsd:annotation>
                                 <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Mar 27 23:54:25 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                              </xsd:annotation>
                              <xsd:restriction base="xsd:string">
                                 <xsd:maxLength value="8"/>
                                 <xsd:whiteSpace value="preserve"/>
                              </xsd:restriction>
                           </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="awlip8co_i_cod_ps" nillable="false">
                           <xsd:simpleType>
                              <xsd:annotation>
                                 <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Mar 27 23:54:28 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                              </xsd:annotation>
                              <xsd:restriction base="xsd:unsignedInt">
                                 <xsd:maxInclusive value="999999999"/>
                                 <xsd:minInclusive value="0"/>
                              </xsd:restriction>
                           </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="awlip8co_i_sec_ps" nillable="false">
                           <xsd:simpleType>
                              <xsd:annotation>
                                 <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Mar 27 23:54:28 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                              </xsd:annotation>
                              <xsd:restriction base="xsd:unsignedLong">
                                 <xsd:maxInclusive value="999999999999"/>
                                 <xsd:minInclusive value="0"/>
                              </xsd:restriction>
                           </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="filler1" nillable="false">
                           <xsd:simpleType>
                              <xsd:annotation>
                                 <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Mar 27 23:54:29 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                              </xsd:annotation>
                              <xsd:restriction base="xsd:string">
                                 <xsd:maxLength value="32000"/>
                                 <xsd:whiteSpace value="preserve"/>
                              </xsd:restriction>
                           </xsd:simpleType>
                        </xsd:element>
                     </xsd:sequence>
                  </xsd:complexType>
               </xsd:element>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:element name="AWLIW8COOperation" nillable="false" type="tns:ProgramInterface"/>
      </xsd:schema>
      <xsd:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://www.AWLIW8CO.AWMLIP8I.Response.com" xmlns:tns="http://www.AWLIW8CO.AWMLIP8I.Response.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
         <xsd:annotation>
            <xsd:documentation source="http://www.ibm.com/software/htp/cics/annotations">This schema was generated by the CICS Web services assistant.</xsd:documentation>
         </xsd:annotation>
         <xsd:annotation>
            <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Mar 27 23:55:30 UTC 2009
com.ibm.cics.wsdl.properties.mappingLevel=1.1
</xsd:appinfo>
         </xsd:annotation>
         <xsd:complexType abstract="false" block="#all" final="#all" mixed="false" name="ProgramInterface">
            <xsd:sequence>
               <xsd:element name="awlip8co_salida" nillable="false">
                  <xsd:complexType mixed="false">
                     <xsd:sequence>
                        <xsd:element name="awlip8co_o_finpaginacion" nillable="false">
                           <xsd:simpleType>
                              <xsd:annotation>
                                 <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Mar 27 23:55:31 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                              </xsd:annotation>
                              <xsd:restriction base="xsd:string">
                                 <xsd:maxLength value="1"/>
                                 <xsd:whiteSpace value="preserve"/>
                              </xsd:restriction>
                           </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="awlip8co_o_numregistros" nillable="false">
                           <xsd:simpleType>
                              <xsd:annotation>
                                 <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Mar 27 23:55:31 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                              </xsd:annotation>
                              <xsd:restriction base="xsd:unsignedShort">
                                 <xsd:maxInclusive value="99"/>
                                 <xsd:minInclusive value="0"/>
                              </xsd:restriction>
                           </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="awlip8co_o_nom_pag" nillable="false">
                           <xsd:simpleType>
                              <xsd:annotation>
                                 <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Mar 27 23:55:31 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                              </xsd:annotation>
                              <xsd:restriction base="xsd:string">
                                 <xsd:maxLength value="30"/>
                                 <xsd:whiteSpace value="preserve"/>
                              </xsd:restriction>
                           </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="awlip8co_o_ape1_pag" nillable="false">
                           <xsd:simpleType>
                              <xsd:annotation>
                                 <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Mar 27 23:55:32 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                              </xsd:annotation>
                              <xsd:restriction base="xsd:string">
                                 <xsd:maxLength value="20"/>
                                 <xsd:whiteSpace value="preserve"/>
                              </xsd:restriction>
                           </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="awlip8co_o_ape2_pag" nillable="false">
                           <xsd:simpleType>
                              <xsd:annotation>
                                 <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Mar 27 23:55:32 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                              </xsd:annotation>
                              <xsd:restriction base="xsd:string">
                                 <xsd:maxLength value="20"/>
                                 <xsd:whiteSpace value="preserve"/>
                              </xsd:restriction>
                           </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="awlip8co_o_nom_tit" nillable="false">
                           <xsd:simpleType>
                              <xsd:annotation>
                                 <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Mar 27 23:55:32 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                              </xsd:annotation>
                              <xsd:restriction base="xsd:string">
                                 <xsd:maxLength value="30"/>
                                 <xsd:whiteSpace value="preserve"/>
                              </xsd:restriction>
                           </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="awlip8co_o_ape1_tit" nillable="false">
                           <xsd:simpleType>
                              <xsd:annotation>
                                 <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Mar 27 23:55:34 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                              </xsd:annotation>
                              <xsd:restriction base="xsd:string">
                                 <xsd:maxLength value="20"/>
                                 <xsd:whiteSpace value="preserve"/>
                              </xsd:restriction>
                           </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="awlip8co_o_ape2_tit" nillable="false">
                           <xsd:simpleType>
                              <xsd:annotation>
                                 <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Mar 27 23:55:34 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                              </xsd:annotation>
                              <xsd:restriction base="xsd:string">
                                 <xsd:maxLength value="20"/>
                                 <xsd:whiteSpace value="preserve"/>
                              </xsd:restriction>
                           </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="awlip8co_o_rut_tit" nillable="false">
                           <xsd:simpleType>
                              <xsd:annotation>
                                 <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Mar 27 23:55:35 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                              </xsd:annotation>
                              <xsd:restriction base="xsd:string">
                                 <xsd:maxLength value="12"/>
                                 <xsd:whiteSpace value="preserve"/>
                              </xsd:restriction>
                           </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="awlip8co_o_dvf_tit" nillable="false">
                           <xsd:simpleType>
                              <xsd:annotation>
                                 <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Mar 27 23:55:36 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                              </xsd:annotation>
                              <xsd:restriction base="xsd:string">
                                 <xsd:maxLength value="1"/>
                                 <xsd:whiteSpace value="preserve"/>
                              </xsd:restriction>
                           </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="awlip8co_o_sec_tit" nillable="false">
                           <xsd:simpleType>
                              <xsd:annotation>
                                 <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Mar 27 23:55:37 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                              </xsd:annotation>
                              <xsd:restriction base="xsd:unsignedInt">
                                 <xsd:maxInclusive value="999999999"/>
                                 <xsd:minInclusive value="0"/>
                              </xsd:restriction>
                           </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="awlip8co_o_cod_seg" nillable="false">
                           <xsd:simpleType>
                              <xsd:annotation>
                                 <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Mar 27 23:55:38 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                              </xsd:annotation>
                              <xsd:restriction base="xsd:string">
                                 <xsd:maxLength value="3"/>
                                 <xsd:whiteSpace value="preserve"/>
                              </xsd:restriction>
                           </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="awlip8co_o_desc_seg" nillable="false">
                           <xsd:simpleType>
                              <xsd:annotation>
                                 <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Mar 27 23:55:39 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                              </xsd:annotation>
                              <xsd:restriction base="xsd:string">
                                 <xsd:maxLength value="30"/>
                                 <xsd:whiteSpace value="preserve"/>
                              </xsd:restriction>
                           </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="awlip8co_o_fec_alta_li" nillable="false">
                           <xsd:simpleType>
                              <xsd:annotation>
                                 <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Mar 27 23:55:40 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                              </xsd:annotation>
                              <xsd:restriction base="xsd:string">
                                 <xsd:maxLength value="10"/>
                                 <xsd:whiteSpace value="preserve"/>
                              </xsd:restriction>
                           </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="awlip8co_o_tipo_clie" nillable="false">
                           <xsd:simpleType>
                              <xsd:annotation>
                                 <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Mar 27 23:55:40 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                              </xsd:annotation>
                              <xsd:restriction base="xsd:string">
                                 <xsd:maxLength value="1"/>
                                 <xsd:whiteSpace value="preserve"/>
                              </xsd:restriction>
                           </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="awlip8co_o_desc_tipo_clie" nillable="false">
                           <xsd:simpleType>
                              <xsd:annotation>
                                 <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Mar 27 23:55:44 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                              </xsd:annotation>
                              <xsd:restriction base="xsd:string">
                                 <xsd:maxLength value="15"/>
                                 <xsd:whiteSpace value="preserve"/>
                              </xsd:restriction>
                           </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="awlip8co_o_calle" nillable="false">
                           <xsd:simpleType>
                              <xsd:annotation>
                                 <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Mar 27 23:55:45 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                              </xsd:annotation>
                              <xsd:restriction base="xsd:string">
                                 <xsd:maxLength value="40"/>
                                 <xsd:whiteSpace value="preserve"/>
                              </xsd:restriction>
                           </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="awlip8co_o_num" nillable="false">
                           <xsd:simpleType>
                              <xsd:annotation>
                                 <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Mar 27 23:55:48 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                              </xsd:annotation>
                              <xsd:restriction base="xsd:string">
                                 <xsd:maxLength value="6"/>
                                 <xsd:whiteSpace value="preserve"/>
                              </xsd:restriction>
                           </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="awlip8co_o_dpto" nillable="false">
                           <xsd:simpleType>
                              <xsd:annotation>
                                 <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Mar 27 23:55:48 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                              </xsd:annotation>
                              <xsd:restriction base="xsd:string">
                                 <xsd:maxLength value="6"/>
                                 <xsd:whiteSpace value="preserve"/>
                              </xsd:restriction>
                           </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="awlip8co_o_post" nillable="false">
                           <xsd:simpleType>
                              <xsd:annotation>
                                 <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Mar 27 23:55:51 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                              </xsd:annotation>
                              <xsd:restriction base="xsd:string">
                                 <xsd:maxLength value="7"/>
                                 <xsd:whiteSpace value="preserve"/>
                              </xsd:restriction>
                           </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="awlip8co_o_comun" nillable="false">
                           <xsd:simpleType>
                              <xsd:annotation>
                                 <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Mar 27 23:55:51 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                              </xsd:annotation>
                              <xsd:restriction base="xsd:string">
                                 <xsd:maxLength value="15"/>
                                 <xsd:whiteSpace value="preserve"/>
                              </xsd:restriction>
                           </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="awlip8co_o_ciuda" nillable="false">
                           <xsd:simpleType>
                              <xsd:annotation>
                                 <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Mar 27 23:55:51 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                              </xsd:annotation>
                              <xsd:restriction base="xsd:string">
                                 <xsd:maxLength value="15"/>
                                 <xsd:whiteSpace value="preserve"/>
                              </xsd:restriction>
                           </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="awlip8co_o_calle_cob" nillable="false">
                           <xsd:simpleType>
                              <xsd:annotation>
                                 <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Mar 27 23:55:51 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                              </xsd:annotation>
                              <xsd:restriction base="xsd:string">
                                 <xsd:maxLength value="40"/>
                                 <xsd:whiteSpace value="preserve"/>
                              </xsd:restriction>
                           </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="awlip8co_o_num_cob" nillable="false">
                           <xsd:simpleType>
                              <xsd:annotation>
                                 <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Mar 27 23:55:52 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                              </xsd:annotation>
                              <xsd:restriction base="xsd:string">
                                 <xsd:maxLength value="6"/>
                                 <xsd:whiteSpace value="preserve"/>
                              </xsd:restriction>
                           </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="awlip8co_o_dpto_cob" nillable="false">
                           <xsd:simpleType>
                              <xsd:annotation>
                                 <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Mar 27 23:55:52 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                              </xsd:annotation>
                              <xsd:restriction base="xsd:string">
                                 <xsd:maxLength value="6"/>
                                 <xsd:whiteSpace value="preserve"/>
                              </xsd:restriction>
                           </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="awlip8co_o_post_cob" nillable="false">
                           <xsd:simpleType>
                              <xsd:annotation>
                                 <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Mar 27 23:55:53 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                              </xsd:annotation>
                              <xsd:restriction base="xsd:string">
                                 <xsd:maxLength value="7"/>
                                 <xsd:whiteSpace value="preserve"/>
                              </xsd:restriction>
                           </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="awlip8co_o_comun_cob" nillable="false">
                           <xsd:simpleType>
                              <xsd:annotation>
                                 <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Mar 27 23:55:53 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                              </xsd:annotation>
                              <xsd:restriction base="xsd:string">
                                 <xsd:maxLength value="15"/>
                                 <xsd:whiteSpace value="preserve"/>
                              </xsd:restriction>
                           </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="awlip8co_o_ciuda_cob" nillable="false">
                           <xsd:simpleType>
                              <xsd:annotation>
                                 <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Mar 27 23:55:53 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                              </xsd:annotation>
                              <xsd:restriction base="xsd:string">
                                 <xsd:maxLength value="15"/>
                                 <xsd:whiteSpace value="preserve"/>
                              </xsd:restriction>
                           </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="awlip8co_o_zona" nillable="false">
                           <xsd:simpleType>
                              <xsd:annotation>
                                 <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Mar 27 23:55:53 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                              </xsd:annotation>
                              <xsd:restriction base="xsd:string">
                                 <xsd:maxLength value="2"/>
                                 <xsd:whiteSpace value="preserve"/>
                              </xsd:restriction>
                           </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="awlip8co_o_central" nillable="false">
                           <xsd:simpleType>
                              <xsd:annotation>
                                 <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Mar 27 23:55:53 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                              </xsd:annotation>
                              <xsd:restriction base="xsd:string">
                                 <xsd:maxLength value="2"/>
                                 <xsd:whiteSpace value="preserve"/>
                              </xsd:restriction>
                           </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="awlip8co_o_pta_comercial" nillable="false">
                           <xsd:simpleType>
                              <xsd:annotation>
                                 <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Mar 27 23:55:53 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                              </xsd:annotation>
                              <xsd:restriction base="xsd:string">
                                 <xsd:maxLength value="4"/>
                                 <xsd:whiteSpace value="preserve"/>
                              </xsd:restriction>
                           </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="awlip8co_o_fec_instalacion" nillable="false">
                           <xsd:simpleType>
                              <xsd:annotation>
                                 <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Mar 27 23:55:53 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                              </xsd:annotation>
                              <xsd:restriction base="xsd:string">
                                 <xsd:maxLength value="10"/>
                                 <xsd:whiteSpace value="preserve"/>
                              </xsd:restriction>
                           </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="awlip8co_o_tipo_linea" nillable="false">
                           <xsd:simpleType>
                              <xsd:annotation>
                                 <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Mar 27 23:55:53 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                              </xsd:annotation>
                              <xsd:restriction base="xsd:string">
                                 <xsd:maxLength value="2"/>
                                 <xsd:whiteSpace value="preserve"/>
                              </xsd:restriction>
                           </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="awlip8co_o_desc_tipo_linea" nillable="false">
                           <xsd:simpleType>
                              <xsd:annotation>
                                 <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Mar 27 23:55:54 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                              </xsd:annotation>
                              <xsd:restriction base="xsd:string">
                                 <xsd:maxLength value="15"/>
                                 <xsd:whiteSpace value="preserve"/>
                              </xsd:restriction>
                           </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="awlip8co_o_ind_fact" nillable="false">
                           <xsd:simpleType>
                              <xsd:annotation>
                                 <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Mar 27 23:55:54 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                              </xsd:annotation>
                              <xsd:restriction base="xsd:string">
                                 <xsd:maxLength value="1"/>
                                 <xsd:whiteSpace value="preserve"/>
                              </xsd:restriction>
                           </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="awlip8co_o_est_linea" nillable="false">
                           <xsd:simpleType>
                              <xsd:annotation>
                                 <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Mar 27 23:55:54 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                              </xsd:annotation>
                              <xsd:restriction base="xsd:string">
                                 <xsd:maxLength value="30"/>
                                 <xsd:whiteSpace value="preserve"/>
                              </xsd:restriction>
                           </xsd:simpleType>
                        </xsd:element>
                        <xsd:element maxOccurs="15" minOccurs="15" name="awlip8co_o_pi_cliente" nillable="false">
                           <xsd:complexType mixed="false">
                              <xsd:sequence>
                                 <xsd:element name="awlip8co_o_cod_ps" nillable="false">
                                    <xsd:simpleType>
                                       <xsd:annotation>
                                          <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Mar 27 23:55:54 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                                       </xsd:annotation>
                                       <xsd:restriction base="xsd:unsignedInt">
                                          <xsd:maxInclusive value="999999999"/>
                                          <xsd:minInclusive value="0"/>
                                       </xsd:restriction>
                                    </xsd:simpleType>
                                 </xsd:element>
                                 <xsd:element name="awlip8co_o_cod_op" nillable="false">
                                    <xsd:simpleType>
                                       <xsd:annotation>
                                          <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Mar 27 23:55:54 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                                       </xsd:annotation>
                                       <xsd:restriction base="xsd:unsignedInt">
                                          <xsd:maxInclusive value="999999999"/>
                                          <xsd:minInclusive value="0"/>
                                       </xsd:restriction>
                                    </xsd:simpleType>
                                 </xsd:element>
                                 <xsd:element name="awlip8co_o_desc_op" nillable="false">
                                    <xsd:simpleType>
                                       <xsd:annotation>
                                          <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Mar 27 23:55:56 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                                       </xsd:annotation>
                                       <xsd:restriction base="xsd:string">
                                          <xsd:maxLength value="30"/>
                                          <xsd:whiteSpace value="preserve"/>
                                       </xsd:restriction>
                                    </xsd:simpleType>
                                 </xsd:element>
                                 <xsd:element name="awlip8co_o_cant_ps" nillable="false">
                                    <xsd:simpleType>
                                       <xsd:annotation>
                                          <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Mar 27 23:55:56 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                                       </xsd:annotation>
                                       <xsd:restriction base="xsd:string">
                                          <xsd:maxLength value="9"/>
                                          <xsd:whiteSpace value="preserve"/>
                                       </xsd:restriction>
                                    </xsd:simpleType>
                                 </xsd:element>
                                 <xsd:element name="awlip8co_o_tip_ps" nillable="false">
                                    <xsd:simpleType>
                                       <xsd:annotation>
                                          <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Mar 27 23:55:57 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                                       </xsd:annotation>
                                       <xsd:restriction base="xsd:string">
                                          <xsd:maxLength value="1"/>
                                          <xsd:whiteSpace value="preserve"/>
                                       </xsd:restriction>
                                    </xsd:simpleType>
                                 </xsd:element>
                                 <xsd:element name="awlip8co_o_desc_tip_ps" nillable="false">
                                    <xsd:simpleType>
                                       <xsd:annotation>
                                          <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Mar 27 23:55:57 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                                       </xsd:annotation>
                                       <xsd:restriction base="xsd:string">
                                          <xsd:maxLength value="20"/>
                                          <xsd:whiteSpace value="preserve"/>
                                       </xsd:restriction>
                                    </xsd:simpleType>
                                 </xsd:element>
                                 <xsd:element name="awlip8co_o_ind_fact_ps" nillable="false">
                                    <xsd:simpleType>
                                       <xsd:annotation>
                                          <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Mar 27 23:55:57 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                                       </xsd:annotation>
                                       <xsd:restriction base="xsd:string">
                                          <xsd:maxLength value="1"/>
                                          <xsd:whiteSpace value="preserve"/>
                                       </xsd:restriction>
                                    </xsd:simpleType>
                                 </xsd:element>
                                 <xsd:element name="awlip8co_o_est_ps" nillable="false">
                                    <xsd:simpleType>
                                       <xsd:annotation>
                                          <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Mar 27 23:55:58 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                                       </xsd:annotation>
                                       <xsd:restriction base="xsd:string">
                                          <xsd:maxLength value="20"/>
                                          <xsd:whiteSpace value="preserve"/>
                                       </xsd:restriction>
                                    </xsd:simpleType>
                                 </xsd:element>
                                 <xsd:element name="awlip8co_o_desc_ps" nillable="false">
                                    <xsd:simpleType>
                                       <xsd:annotation>
                                          <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Mar 27 23:55:58 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                                       </xsd:annotation>
                                       <xsd:restriction base="xsd:string">
                                          <xsd:maxLength value="30"/>
                                          <xsd:whiteSpace value="preserve"/>
                                       </xsd:restriction>
                                    </xsd:simpleType>
                                 </xsd:element>
                                 <xsd:element name="awlip8co_o_fec_alta_ps" nillable="false">
                                    <xsd:simpleType>
                                       <xsd:annotation>
                                          <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Mar 27 23:55:59 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                                       </xsd:annotation>
                                       <xsd:restriction base="xsd:string">
                                          <xsd:maxLength value="10"/>
                                          <xsd:whiteSpace value="preserve"/>
                                       </xsd:restriction>
                                    </xsd:simpleType>
                                 </xsd:element>
                                 <xsd:element name="awlip8co_o_fec_baja_ps" nillable="false">
                                    <xsd:simpleType>
                                       <xsd:annotation>
                                          <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Mar 27 23:55:59 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                                       </xsd:annotation>
                                       <xsd:restriction base="xsd:string">
                                          <xsd:maxLength value="10"/>
                                          <xsd:whiteSpace value="preserve"/>
                                       </xsd:restriction>
                                    </xsd:simpleType>
                                 </xsd:element>
                                 <xsd:element name="awlip8co_o_cod_paq" nillable="false">
                                    <xsd:simpleType>
                                       <xsd:annotation>
                                          <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Mar 27 23:55:59 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                                       </xsd:annotation>
                                       <xsd:restriction base="xsd:unsignedInt">
                                          <xsd:maxInclusive value="999999999"/>
                                          <xsd:minInclusive value="0"/>
                                       </xsd:restriction>
                                    </xsd:simpleType>
                                 </xsd:element>
                                 <xsd:element name="awlip8co_o_nombre_paq" nillable="false">
                                    <xsd:simpleType>
                                       <xsd:annotation>
                                          <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Mar 27 23:55:59 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                                       </xsd:annotation>
                                       <xsd:restriction base="xsd:string">
                                          <xsd:maxLength value="8"/>
                                          <xsd:whiteSpace value="preserve"/>
                                       </xsd:restriction>
                                    </xsd:simpleType>
                                 </xsd:element>
                                 <xsd:element name="awlip8co_o_sec_paq" nillable="false">
                                    <xsd:simpleType>
                                       <xsd:annotation>
                                          <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Mar 27 23:55:59 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                                       </xsd:annotation>
                                       <xsd:restriction base="xsd:string">
                                          <xsd:maxLength value="12"/>
                                          <xsd:whiteSpace value="preserve"/>
                                       </xsd:restriction>
                                    </xsd:simpleType>
                                 </xsd:element>
                                 <xsd:element name="awlip8co_o_sec_ps" nillable="false">
                                    <xsd:simpleType>
                                       <xsd:annotation>
                                          <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Mar 27 23:55:59 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                                       </xsd:annotation>
                                       <xsd:restriction base="xsd:unsignedLong">
                                          <xsd:maxInclusive value="999999999999"/>
                                          <xsd:minInclusive value="0"/>
                                       </xsd:restriction>
                                    </xsd:simpleType>
                                 </xsd:element>
                                 <xsd:element name="awlip8co_o_cod_familia" nillable="false">
                                    <xsd:simpleType>
                                       <xsd:annotation>
                                          <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Mar 27 23:55:59 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                                       </xsd:annotation>
                                       <xsd:restriction base="xsd:unsignedInt">
                                          <xsd:maxInclusive value="999999999"/>
                                          <xsd:minInclusive value="0"/>
                                       </xsd:restriction>
                                    </xsd:simpleType>
                                 </xsd:element>
                                 <xsd:element name="awlip8co_o_desc_familia" nillable="false">
                                    <xsd:simpleType>
                                       <xsd:annotation>
                                          <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Mar 27 23:56:00 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                                       </xsd:annotation>
                                       <xsd:restriction base="xsd:string">
                                          <xsd:maxLength value="30"/>
                                          <xsd:whiteSpace value="preserve"/>
                                       </xsd:restriction>
                                    </xsd:simpleType>
                                 </xsd:element>
                                 <xsd:element name="awlip8co_o_valor_ps" nillable="false">
                                    <xsd:simpleType>
                                       <xsd:annotation>
                                          <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Mar 27 23:56:01 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                                       </xsd:annotation>
                                       <xsd:restriction base="xsd:unsignedLong">
                                          <xsd:maxInclusive value="9999999999999"/>
                                          <xsd:minInclusive value="0"/>
                                       </xsd:restriction>
                                    </xsd:simpleType>
                                 </xsd:element>
                                 <xsd:element name="awlip8co_o_moneda" nillable="false">
                                    <xsd:simpleType>
                                       <xsd:annotation>
                                          <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Mar 27 23:56:01 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                                       </xsd:annotation>
                                       <xsd:restriction base="xsd:string">
                                          <xsd:maxLength value="3"/>
                                          <xsd:whiteSpace value="preserve"/>
                                       </xsd:restriction>
                                    </xsd:simpleType>
                                 </xsd:element>
                                 <xsd:element name="awlip8co_o_cod_cf" nillable="false">
                                    <xsd:simpleType>
                                       <xsd:annotation>
                                          <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Mar 27 23:56:01 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                                       </xsd:annotation>
                                       <xsd:restriction base="xsd:unsignedInt">
                                          <xsd:maxInclusive value="999999999"/>
                                          <xsd:minInclusive value="0"/>
                                       </xsd:restriction>
                                    </xsd:simpleType>
                                 </xsd:element>
                                 <xsd:element name="awlip8co_o_cod_conf" nillable="false">
                                    <xsd:simpleType>
                                       <xsd:annotation>
                                          <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Mar 27 23:56:02 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                                       </xsd:annotation>
                                       <xsd:restriction base="xsd:unsignedInt">
                                          <xsd:maxInclusive value="999999999"/>
                                          <xsd:minInclusive value="0"/>
                                       </xsd:restriction>
                                    </xsd:simpleType>
                                 </xsd:element>
                                 <xsd:element name="awlip8co_o_desc_cf" nillable="false">
                                    <xsd:simpleType>
                                       <xsd:annotation>
                                          <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Mar 27 23:56:02 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                                       </xsd:annotation>
                                       <xsd:restriction base="xsd:string">
                                          <xsd:maxLength value="30"/>
                                          <xsd:whiteSpace value="preserve"/>
                                       </xsd:restriction>
                                    </xsd:simpleType>
                                 </xsd:element>
                                 <xsd:element name="awlip8co_o_cod_fam" nillable="false">
                                    <xsd:simpleType>
                                       <xsd:annotation>
                                          <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Mar 27 23:56:03 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                                       </xsd:annotation>
                                       <xsd:restriction base="xsd:string">
                                          <xsd:maxLength value="5"/>
                                          <xsd:whiteSpace value="preserve"/>
                                       </xsd:restriction>
                                    </xsd:simpleType>
                                 </xsd:element>
                                 <xsd:element name="awlip8co_o_des_fam" nillable="false">
                                    <xsd:simpleType>
                                       <xsd:annotation>
                                          <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Mar 27 23:56:03 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                                       </xsd:annotation>
                                       <xsd:restriction base="xsd:string">
                                          <xsd:maxLength value="50"/>
                                          <xsd:whiteSpace value="preserve"/>
                                       </xsd:restriction>
                                    </xsd:simpleType>
                                 </xsd:element>
                                 <xsd:element maxOccurs="20" minOccurs="20" name="awlip8co_o_pi_cliente" nillable="false">
                                    <xsd:complexType mixed="false">
                                       <xsd:sequence>
                                          <xsd:element name="awlip8co_o_sec_car" nillable="false">
                                             <xsd:simpleType>
                                                <xsd:annotation>
                                                   <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Mar 27 23:56:04 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                                                </xsd:annotation>
                                                <xsd:restriction base="xsd:unsignedLong">
                                                   <xsd:maxInclusive value="999999999999"/>
                                                   <xsd:minInclusive value="0"/>
                                                </xsd:restriction>
                                             </xsd:simpleType>
                                          </xsd:element>
                                          <xsd:element name="awlip8co_o_cod_car" nillable="false">
                                             <xsd:simpleType>
                                                <xsd:annotation>
                                                   <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Mar 27 23:56:04 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                                                </xsd:annotation>
                                                <xsd:restriction base="xsd:unsignedLong">
                                                   <xsd:maxInclusive value="999999999999"/>
                                                   <xsd:minInclusive value="0"/>
                                                </xsd:restriction>
                                             </xsd:simpleType>
                                          </xsd:element>
                                          <xsd:element name="awlip8co_o_cod_dom" nillable="false">
                                             <xsd:simpleType>
                                                <xsd:annotation>
                                                   <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Mar 27 23:56:04 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                                                </xsd:annotation>
                                                <xsd:restriction base="xsd:string">
                                                   <xsd:maxLength value="12"/>
                                                   <xsd:whiteSpace value="preserve"/>
                                                </xsd:restriction>
                                             </xsd:simpleType>
                                          </xsd:element>
                                          <xsd:element name="awlip8co_o_tip_dom" nillable="false">
                                             <xsd:simpleType>
                                                <xsd:annotation>
                                                   <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Mar 27 23:56:04 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                                                </xsd:annotation>
                                                <xsd:restriction base="xsd:string">
                                                   <xsd:maxLength value="1"/>
                                                   <xsd:whiteSpace value="preserve"/>
                                                </xsd:restriction>
                                             </xsd:simpleType>
                                          </xsd:element>
                                          <xsd:element name="awlip8co_o_valor_dom" nillable="false">
                                             <xsd:simpleType>
                                                <xsd:annotation>
                                                   <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Mar 27 23:56:04 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                                                </xsd:annotation>
                                                <xsd:restriction base="xsd:string">
                                                   <xsd:maxLength value="30"/>
                                                   <xsd:whiteSpace value="preserve"/>
                                                </xsd:restriction>
                                             </xsd:simpleType>
                                          </xsd:element>
                                       </xsd:sequence>
                                    </xsd:complexType>
                                 </xsd:element>
                              </xsd:sequence>
                           </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="awlip8co_o_cod_ret" nillable="false">
                           <xsd:simpleType>
                              <xsd:annotation>
                                 <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Mar 27 23:56:05 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                              </xsd:annotation>
                              <xsd:restriction base="xsd:string">
                                 <xsd:maxLength value="3"/>
                                 <xsd:whiteSpace value="preserve"/>
                              </xsd:restriction>
                           </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="awlip8co_o_desc_cod_ret" nillable="false">
                           <xsd:simpleType>
                              <xsd:annotation>
                                 <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Mar 27 23:56:05 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                              </xsd:annotation>
                              <xsd:restriction base="xsd:string">
                                 <xsd:maxLength value="30"/>
                                 <xsd:whiteSpace value="preserve"/>
                              </xsd:restriction>
                           </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="awlip8co_o_cod_sub_seg" nillable="false">
                           <xsd:simpleType>
                              <xsd:annotation>
                                 <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Mar 27 23:56:05 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                              </xsd:annotation>
                              <xsd:restriction base="xsd:string">
                                 <xsd:maxLength value="3"/>
                                 <xsd:whiteSpace value="preserve"/>
                              </xsd:restriction>
                           </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="awlip8co_o_cod_agencia" nillable="false">
                           <xsd:simpleType>
                              <xsd:annotation>
                                 <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Mar 27 23:56:05 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                              </xsd:annotation>
                              <xsd:restriction base="xsd:string">
                                 <xsd:maxLength value="4"/>
                                 <xsd:whiteSpace value="preserve"/>
                              </xsd:restriction>
                           </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="awlip8co_o_desc_agencia" nillable="false">
                           <xsd:simpleType>
                              <xsd:annotation>
                                 <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Mar 27 23:56:06 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                              </xsd:annotation>
                              <xsd:restriction base="xsd:string">
                                 <xsd:maxLength value="30"/>
                                 <xsd:whiteSpace value="preserve"/>
                              </xsd:restriction>
                           </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="awlip8co_o_cod_comun" nillable="false">
                           <xsd:simpleType>
                              <xsd:annotation>
                                 <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Mar 27 23:56:06 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                              </xsd:annotation>
                              <xsd:restriction base="xsd:string">
                                 <xsd:maxLength value="3"/>
                                 <xsd:whiteSpace value="preserve"/>
                              </xsd:restriction>
                           </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="awlip8co_o_cod_comun_cob" nillable="false">
                           <xsd:simpleType>
                              <xsd:annotation>
                                 <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Mar 27 23:56:06 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                              </xsd:annotation>
                              <xsd:restriction base="xsd:string">
                                 <xsd:maxLength value="3"/>
                                 <xsd:whiteSpace value="preserve"/>
                              </xsd:restriction>
                           </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="awlip8co_o_desc_zona_cent" nillable="false">
                           <xsd:simpleType>
                              <xsd:annotation>
                                 <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Mar 27 23:56:06 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                              </xsd:annotation>
                              <xsd:restriction base="xsd:string">
                                 <xsd:maxLength value="25"/>
                                 <xsd:whiteSpace value="preserve"/>
                              </xsd:restriction>
                           </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="awlip8co_o_desc_sub_seg" nillable="false">
                           <xsd:simpleType>
                              <xsd:annotation>
                                 <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Mar 27 23:56:06 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                              </xsd:annotation>
                              <xsd:restriction base="xsd:string">
                                 <xsd:maxLength value="30"/>
                                 <xsd:whiteSpace value="preserve"/>
                              </xsd:restriction>
                           </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="awlip8co_o_plan_minuto" nillable="false">
                           <xsd:simpleType>
                              <xsd:annotation>
                                 <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Mar 27 23:56:07 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                              </xsd:annotation>
                              <xsd:restriction base="xsd:string">
                                 <xsd:maxLength value="1"/>
                                 <xsd:whiteSpace value="preserve"/>
                              </xsd:restriction>
                           </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="awlip8co_o_mail_cliente" nillable="false">
                           <xsd:simpleType>
                              <xsd:annotation>
                                 <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Mar 27 23:56:07 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                              </xsd:annotation>
                              <xsd:restriction base="xsd:string">
                                 <xsd:maxLength value="60"/>
                                 <xsd:whiteSpace value="preserve"/>
                              </xsd:restriction>
                           </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="awlip8co_o_fecha_alt_clte" nillable="false">
                           <xsd:simpleType>
                              <xsd:annotation>
                                 <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Mar 27 23:56:07 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                              </xsd:annotation>
                              <xsd:restriction base="xsd:string">
                                 <xsd:maxLength value="10"/>
                                 <xsd:whiteSpace value="preserve"/>
                              </xsd:restriction>
                           </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="awlip8co_o_sec_lin" nillable="false">
                           <xsd:simpleType>
                              <xsd:annotation>
                                 <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Mar 27 23:56:08 UTC 2009
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                              </xsd:annotation>
                              <xsd:restriction base="xsd:string">
                                 <xsd:maxLength value="12"/>
                                 <xsd:whiteSpace value="preserve"/>
                              </xsd:restriction>
                           </xsd:simpleType>
                        </xsd:element>
                     </xsd:sequence>
                  </xsd:complexType>
               </xsd:element>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:element name="AWLIW8COOperationResponse" nillable="false" type="tns:ProgramInterface"/>
      </xsd:schema>
   </types>
   <message name="AWLIW8COOperationResponse">
      <part element="resns:AWLIW8COOperationResponse" name="ResponsePart"/>
   </message>
   <message name="AWLIW8COOperationRequest">
      <part element="reqns:AWLIW8COOperation" name="RequestPart"/>
   </message>
   <portType name="AWLIW8COPort">
      <operation name="AWLIW8COOperation">
         <input message="tns:AWLIW8COOperationRequest" name="AWLIW8COOperationRequest"/>
         <output message="tns:AWLIW8COOperationResponse" name="AWLIW8COOperationResponse"/>
      </operation>
   </portType>
   <binding name="AWLIW8COHTTPSoapBinding" type="tns:AWLIW8COPort">
      <!-- This soap:binding indicates the use of SOAP 1.1 -->
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <!-- This soap:binding indicates the use of SOAP 1.2 -->
      <!-- <soap:binding style="document" transport="http://www.w3.org/2003/05/soap-http"/> -->
      <operation name="AWLIW8COOperation">
         <soap:operation soapAction="" style="document"/>
         <input name="AWLIW8COOperationRequest">
            <soap:body parts="RequestPart" use="literal"/>
         </input>
         <output name="AWLIW8COOperationResponse">
            <soap:body parts="ResponsePart" use="literal"/>
         </output>
      </operation>
   </binding>
   <service name="AWLIW8COService">
      <port binding="tns:AWLIW8COHTTPSoapBinding" name="AWLIW8COPort">
         <!-- This soap:address indicates the location of the Web service over HTTP.
              Please replace "my-server" with the TCPIP host name of your CICS region.
              Please replace "my-port" with the port number of your CICS TCPIPSERVICE. -->
         <soap:address location="http://TCHMFPROD.ctc.cl:8080/services/listaPsLineaV8"/>
         <!-- This soap:address indicates the location of the Web service over HTTPS. -->
         <!-- <soap:address location="https://my-server:my-port/services/listaPsLineaV8"/> -->
         <!-- This soap:address indicates the location of the Web service over MQSeries.
              Please replace "my-queue" with the appropriate queue name. -->
         <!-- <soap:address location="jms:/queue?destination=my-queue&amp;connectionFactory=()&amp;targetService=/services/listaPsLineaV8&amp;initialContextFactory=com.ibm.mq.jms.Nojndi" /> -->
      </port>
   </service>
</definitions>